{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block box-tabs %}
{% endblock %}

{% block subcontent %}
 <div id="std_box">
 <p>The process of digitization is time- and labor-intensive, and requires the application of advanced proprietary technologies. Thank you to all of the funding institutions, programs, organizations, and individuals that have contributed to ODNP. Details on funding are available on the <a href="http://libweb.uoregon.edu/diglib/odnp/funding.html">ODNP site.</a></p>

<p><a href="http://libweb.uoregon.edu/diglib/odnp/contribute.html">Become a Partner / Contribute</a></p>
<h2>Partners</h2>
<ul>
<li>Oregon Historical Society</li>
<li>The Dalles Chronicle</li>
<li>The Dalles Wasco Data Center</li>
<li>Columbia Gorge Discovery Center</li>
<li>St. Helens Public Library</li>
<li>Oregon City Public Library</li>
<li>Milwaukie Historical Society and Museum</li>
<li>Langlois Public Library</li>
<li>Ashland High School</li>
<li>Oregon State University</li>
<li>Benton County Historical Society</li>
<li>The Confederated Tribes of the Grand Ronde</li>
<li>The Klamath Tribes</li>
<li>Morrow County Museum</li>
<li>Hillsboro Public Library</li>
<li>Hood River County Library District</li>
<li>Hood River Cultural Trust</li>
<li>The History Museum of Hood River County</li>
<li>Old Aurora Colony Historical Society and Museum</li>
<li>Sykes Publishing</li>
<li>Survival Media</li>
<li>Google</li>
<li></li>
</ul>
<h2>Major Sources of Program Funding</h2>
<ul>
  <li><strong>National Digital Newspaper Program</strong><br />
    From the <a href="http://www.neh.gov/">National Endowment for the Humanities</a> and the <a href="http://www.loc.gov/">Library of Congress</a><br /><img src="{% static 'images/or/logos/neh_wtp.gif' %}" alt="National Endowment for the Humanities We the People" /><br />
<img src="{% static 'images/or/logos/lc.jpg' %}" alt="Library of Congress" />
  <br />
  <br />
  </li>
  <li><strong>Library Services &amp; Technology Act (LSTA) Grant</strong><br />
From the <a href="http://www.imls.gov/index.shtm">Institute of Museum and Library Services</a> through the <a href="http://www.oregon.gov/OSL/LD/lsta.shtml">Oregon State Library</a><br /><img src="{% static 'images/or/logos/imls.jpg' %}" alt="Institute of Museum and Library Services" />
  <br />
  <br />
  </li>
  <li><strong>Oregon Cultural Trust</strong> <br />
From the <a href="http://www.oregon.gov/OPRD/HCD/SHPO/">Oregon State Historic Preservation Office</a> and <a href="http://www.oregon.gov/OPRD/HCD/OHC/">Oregon Heritage Commission</a><br />
<a href="http://www.oregon.gov/OPRD/">Oregon State Parks and Recreation Department</a><br /><img src="{% static 'images/or/logos/or_stateparks.jpg' %}" alt="Oregon State Parks" />
  <br />
  <br />
  </li>
  <li><a href="http://libweb.uoregon.edu">University of Oregon Libraries</a><br /><img src="{% static 'images/or/logos/uolib.gif' %}" alt="University of Oregon Libraries" />
    <br />
    <br />
  </li>
  <li><a href="http://www.orenews.com">Oregon Newspaper Publishers Association</a><br /><img src="{% static 'images/or/logos/onpa.gif' %}" alt="Oregon Newspaper Publishers Association" />
    <br />
    <br />
  </li>
  <li>...and Private Donations</li>
</ul>


<p></p>
</div><!-- end id:std_box -->

{% endblock %}

