{% extends "site_base.html" %}

{% load static from staticfiles %}
{% load humanize %}
 {% load custom_tags %}
<!-- removed carousel -->
{% block head_content %}{{ block.super }}
<link href="{% static 'bootstrap/css/datepicker.css' %}" rel="stylesheet" media="screen">
{% endblock head_content %}
<!--added everything below from old home, replaced block content with block content-->
{% block subcontent %}
  <div class="summary">
    <p>Welcome to Historic Oregon Newspapers. On this site you can search and access complete content for historic Oregon newspapers that have been digitized as part of the <a href="http://libweb.uoregon.edu/diglib/odnp/">Oregon Digital Newspaper Program (ODNP)</a>. </p>
  </div><!-- end class:summary -->
  <div class="clear"><!-- --></div>
  <div id="left_box">
    <div id="search_home">
      <h2>Search Newspaper Pages:</h2>
      <form action="{% url chronam_search_pages_results %}" method="get" name="fulltext" id="fulltext" class="search-pages">
      <!-- search text field -->
      {{ search_form.proxtext }}
        <input type="image"  alt="GO" src="{% static 'images/or/or_btn_go.png' %}" class="ortext-btn" />
        <input type="hidden" name="dateFilterType" value="range" />
        <input type="hidden" name="rows" id="rows" value="20" />
        <div class="pull-right">
          <a href="{% url chronam_search_pages %}">Advanced Search</a>
        </div>
      </form>
    </div> <!-- end id:search_home -->
    <p align="center"><img src="{% static 'images/or/papertrail.png' %}" alt="image of news paper front covers" />
    <div id="donate">
      <p>The Oregon Digital Newspaper Program is committed to providing free online access to historic Oregon newspapers. This is made possible with the <a href="{% url chronam_acknow %}">support</a> of federal and state grants, the UO Libraries, and through private donations.</p><p><a href="http://libweb.uoregon.edu/diglib/odnp/contribute.html">Become a partner or contribute.</a></p>
      <p><a href="https://securelb.imodules.com/s/1540/foundation/index.aspx?sid=1540&gid=1&pgid=408&bledit=1&dids=292" ><img src="{% static 'images/or/givebutton-smaller.gif' %}" alt="give now" /></a></p>
    </div><!-- end id:donate -->
  </div>    <!-- end id:left_box -->
  <div id="right_box">
  <!--map goes here -->
  </div><!-- end id:right_box -->
  <div class="clear"><!-- --></div>
  <div class="summary">
    <p>&nbsp;</p>
  </div><!-- end summary -->
  <div class="clear"><!-- --></div>
{% endblock %}
{% block javascript %} {{ block.super }}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="{% static 'js/labeler.js' %}"></script>

  <script>

var width = 960,
    height = 1160;

var svg = d3.select("#right_box").append("svg")
    .attr("width", width)
    .attr("height", height);

//set up projection
var projection = d3.geo.mercator()
    .scale(4050)
    .center([-478,41])
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection)

d3.json("{% static 'js/or2.json' %}", function(error, or) {
  if (error) return console.error(error);

  //draw the state

  svg.selectAll(".orstate")
    .data(topojson.feature(or, or.objects.orstates).features)
    .enter().append("path")
    .attr("class", function(d) { return "orstate " + d.id; })
    .attr("filter","url(#map-img)")
    .attr("d", path);

  svg.append("filter")
    .attr("id", "map-img")
    .attr("x", "0%")
    .attr("y", "0%")
    .attr("width","100%")
    .attr("height","100%")
    .append("feImage")
    .attr("xlink:href", "{% static 'images/or/or-map.png' %}" );

  svg.append("filter")
    .attr("id","textbg")
    .attr("x", "0%")
    .attr("y", "0%")
    .attr("width","100%")
    .attr("height","100%")
    .append("feFlood")
    .attr("flood-opacity",".6")
    .attr("flood-color","#F7F3E6");
  svg.selectAll("#textbg")
    .append("feComposite")
    .attr("in","SourceGraphic");

  var label_array = [];
  var anchor_array = [];

  d3.csv("{% static 'titlecities.txt' %}", function(error, data){
    svg.selectAll("circle")
    .data(data)
    .enter()
    .append("circle")
    .attr("cx", function(d){return projection([d.lon, d.lat])[0]; })
    //populate arrays that will be updated by algorithm
    .attr("cy", function(d){
       label_array.push({x:projection([d.lon, d.lat])[0],
                         y:projection([d.lon, d.lat])[1],
                         name:d.label,
                         width:0.0,
                         height:0.0,
                         url:d.url
                         });
       anchor_array.push({x:projection([d.lon, d.lat])[0],
                         y:projection([d.lon, d.lat])[1],
                         r:2
                         });
       return projection([d.lon, d.lat])[1];
      })
      .attr("r",2)
      .style("fill","#254117");

  //add labels, use arrays for data
  var placelabels =  svg.selectAll(".place-label")
    .data(label_array)
    .enter().append("svg:a")
    .attr("xlink:href", function(d) {return d.url;})
    .attr("class", "place-label")
    .attr("x", function(d){return d.x;})
    .attr("y", function(d){return d.y;})
    .append("text")
    .attr("filter","url(#textbg)")
    .text(function(d) { return d.name; });

  //get size of the labels
  var nsweeps = 200;
  var index = 0;
  placelabels.each(function() {
    label_array[index].width = this.getBBox().width +5;
    label_array[index].height = this.getBBox().height;
    index += 1;
  });

  //run labeler to update the arrays
   d3.labeler()
        .label(label_array)
        .anchor(anchor_array)
        .width(900)
        .height(1160)
        .start(nsweeps);

  //move labels to new positions
  placelabels
    .transition()
    .duration(50)
    .attr("x", function(d) { return (d.x); })
    .attr("y", function(d) { return (d.y); });
 });
});
</script>
{% endblock javascript %}
