{% extends "site_base.html" %}

{% load static from staticfiles %}
{% load humanize %}
 {% load custom_tags %}
<!-- removed carousel -->
{% block head_content %}{{ block.super }}
<link href="{% static 'bootstrap/css/datepicker.css' %}" rel="stylesheet" media="screen">
{% endblock head_content %}
<!--added everything below from old home, replaced block content with block content-->
{% block subcontent %}
  <div id="search_home">
    <h2>Search Newspaper Pages:</h2>
    <form action="{% url chronam_search_pages_results %}" method="get" name="fulltext" id="fulltext" class="search-pages">
    <!-- search text field -->
      {{ search_form.proxtext }}
      <input type="image"  alt="GO" src="{% static 'images/or/or_btn_go.png' %}" class="ortext-btn" />
      <input type="hidden" name="dateFilterType" value="range" />
      <input type="hidden" name="rows" id="rows" value="20" />
      <div class="pull-right">
        <a href="{% url chronam_search_pages %}">Advanced Search</a>
      </div>
    </form>
  </div> <!-- end id:search_home -->

  <div class="clear"><!-- --></div>
  <div id="left_box">
    <div id="this_day">
      <h2>This Day in History</h2>
      {% if pages.first %}
        <a href="{{ pages.first.url }}">
          <img class="thumbnail" src="{{ pages.first.thumbnail_url}}"/>
          <p>{% pages.first.label %}, {% date %}
        </a>
      {% endif %}
    </div>
    <div id="donate">
      <p>The Oregon Digital Newspaper Program is committed to providing free online access to historic Oregon newspapers. This is made possible with the <a href="{% url chronam_acknow %}">support</a> of federal and state grants, the UO Libraries, and through private donations.</p><p><a href="http://libweb.uoregon.edu/diglib/odnp/contribute.html">Become a partner or contribute.</a></p>
      <p><a href="https://securelb.imodules.com/s/1540/foundation/index.aspx?sid=1540&gid=1&pgid=408&bledit=1&dids=292" ><img src="{% static 'images/or/givebutton-smaller.gif' %}" alt="give now" /></a></p>
    </div><!-- end id:donate -->
  </div>    <!-- end id:left_box -->
  <div id="right_box">
  <!--map goes here -->
  </div><!-- end id:right_box -->
  <div class="clear"><!-- --></div>
  <div class="summary">
    <p>&nbsp;</p>
  </div><!-- end summary -->
  <div class="clear"><!-- --></div>
{% endblock %}
{% block javascript %} {{ block.super }}
    <script src="{% static 'js/d3.v3.min.js' %}"></script>
    <script src="{% static 'js/topojson.v1.min.js' %}"></script>
    <script src="{% static 'js/labeler.js' %}"></script>
    <script src="{% static 'js/d3jsmap.js' %}"></script>

{% endblock javascript %}
