{% extends 'site_base.html' %}

{% load static from staticfiles %}

{% block box-tabs %}
{% endblock %}

{% block subcontent %}
<div id="std_box">
<p>The K-12 Resources section of this site is just starting development. Lesson Plans are currently being updated to reflect Oregon Common Core Standards in Social Studies and English/Language Arts.</p>
<h2>Lesson Plans</h2>
<p>Lesson plans are still in draft form. They are available as Microsoft Word and PDF files. No permission is needed to use or modify the plans.</p>
<ul>
  <li>
   Abigail Scott Duniway &amp; the struggle for women's suffrage<br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_duniway_and_suffrage2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_duniway_and_suffrage2.pdf">PDF</a>
</li>
  <li>Advertising through the Ages: the Evolution of Print Advertising from the 19th to the 21st century<br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_advertising2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_advertising2.pdf">PDF</a></li>
  <li>Bounty of the Sea:  The Salmon in Oregon <br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_salmon2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_salmon2.pdf">PDF</a></li>
  <li>Coming to America, Coming to Oregon: Exploring Immigration  Trends from the Past to Present Day<br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_immigration_chinese_exclusion_acts2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_immigration_chinese_exclusion_acts2.pdf">PDF</a></li>
  <li>
   Introduction to Speleology: Three Great Caves of Oregon<br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_oregon_caves2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_oregon_caves2.pdf">PDF</a>
  </li>
  <li>
Lewis & Clark And The Voyage of Discovery<br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_lewis_and_clark2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_lewis_and_clark2.pdf">PDF</a>
  </li>
  <li>Native American Trade: Barter &amp; Exchange<br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_native_american_barter2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_native_american_barter2.pdf">PDF</a></li>
  <li>The  Oregon Trail &amp; Oregon Pioneer History<br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_oregon_trail2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_oregon_trail2.pdf">PDF</a></li>
  <li>Oregon's First Resource Industry: the Fur Trade &amp; Beaver Ecology in the Beaver State<br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_fur_trade__beaver_ecology2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_fur_trade__beaver_ecology2.pdf">PDF</a></li>
  <li>Public Opinion and News Reporting: Different  Viewpoints, Changing Perspectives<br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_public_opinion2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_public_opinion2.pdf">PDF</a></li>
  <li>
 Timber! Effects of the Lumber Industry on Oregon's Economy & Environment<br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_timber_effects_logging2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_timber_effects_logging2.pdf">PDF</a>
  </li>
  <li>The Willamette Meteorite:    Lessons from Oregon’s  Ancient Extraterrestrial Visitor <br />
    <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_willamette_meteorite2.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/lesson_plan_willamette_meteorite2.pdf">PDF</a></li>
  </ul>
<p>Newspaper Vocabulary List (<a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/news_vocab.doc">Word</a> | <a href="http://www.libweb.uoregon.edu//sites/default/files/data/diglib/news_vocab.pdf">PDF</a>)</p>

<h2>Links to Additional K-12 Resources from the Library of Congress</h2>
<ol>
  <li><a href="http://blogs.loc.gov/teachers/2013/12/teachinglc-activity-explores-primary-sources-one-piece-at-a-time/">
    @TeachingLC Activity Using Primary Sources</a></li>
  <li><a href="http://blogs.loc.gov/teachers/2013/12/helping-students-visualize-the-process-of-change-with-historic-images/">
    Visualizing Change with Historic Images</a></li>
  <li><a href="http://www.loc.gov/teachers/classroommaterials/primarysourcesets/political-cartoons/pdf/teacher_guide.pdf">
    Political Cartoons in U.S. History </a></li>
  <li><a href="http://blogs.loc.gov/teachers/2013/12/10-ways-to-enrich-your-classroom-with-primary-sources-part-1/">
    10 Ways to Enrich Classroom with Primary Sources, Part 1 </a></li>
  <li><a href="http://blogs.loc.gov/teachers/2013/12/10-ways-to-enrich-your-classroom-with-primary-sources-part-2/">
    10 Ways to Enrich Classroom with Primary Sources, Part 2 </a></li>
  </ol>
  <h2>Links to Videos Provided by the  
    <a href="http://uiuc.libguides.com/content.php?pid=240860">
      History, Philosophy, and Newspaper Library at the University of Illinois
    </a>
  </h2>
  <ol>
  <li><a href="http://www.youtube.com/watch?v=6E8c8t55oZE">
    American Newspapers, 1800-1860: Introduction </a></li>
  <li><a href="http://www.youtube.com/watch?v=jUEM_gbYMzM">
    Growth of American Newspapers, 1800-1860 </a></li>
  <li><a href="http://www.youtube.com/watch?v=gQpZTeewHKw">
    American Newspapers, 1800-1960: City Papers </a></li>
  <li><a href="http://www.youtube.com/watch?v=XCWC0MZn1Po">
    American Newspapers, 1800-1860: County Papers </a></li>
  <li><a href="http://www.youtube.com/watch?v=KI-zwW4KzWg">
    Types of Sources and Where to Find Them: Part I: Primary Sources </a></li>
  <li><a href="http://www.youtube.com/watch?v=ocBped2bkJ0">
    Types of Sources and Where to Find Them: Part II: Secondary Sources </a></li>
  <li><a href="http://www.youtube.com/watch?v=jnvECYnya78">
    Why Use Anything Other than Google for Historical Research? </a></li>
  <li><a href="http://www.youtube.com/watch?v=DcbBoYhvsgw">
    Analyzing a Topic </a></li>
</ol>
</div>
<!-- end id:std_box -->

{% endblock %}
{% block javascript %} {{ block.super }}
<script type="text/javascript">
if (typeof jQuery != 'undefined') {
  jQuery(document).ready(function($) {
    var filetypes = /\.(pdf|doc.*|txt)$/i;
    var baseHref = '';
    if (jQuery('base').attr('href') != undefined) baseHref = jQuery('base').attr('href');
 
    jQuery('a').on('click', function(event) {
      var el = jQuery(this);
      var track = true;
      var href = (typeof(el.attr('href')) != 'undefined' ) ? el.attr('href') :"";
      //var isThisDomain = href.match(document.domain.split('.').reverse()[1] + '.' + document.domain.split('.').reverse()[0]);
      console.log(href);
      if (!href.match(/^javascript:/i)) {
       var elEv = []; elEv.value=0, elEv.non_i=false; 
        if (href.match(filetypes)) {
          var extension = (/[.]/.exec(href)) ? /[^.]+$/.exec(href) : undefined;
          elEv.category = "Download_K12";
          elEv.action = "click-" + extension[0];
          elEv.label = href.replace(/ /g,"-");
          elEv.loc = baseHref + href;
        }
        
        else track = false;
       
        if (track) {
          console.log(elEv.category + " " + elEv.action + " " + elEv.label);
          _gaq.push(['_trackEvent', elEv.category.toLowerCase(), elEv.action.toLowerCase(), elEv.label.toLowerCase()]);
          /*if ( el.attr('target') == undefined || el.attr('target').toLowerCase() != '_blank') {
            setTimeout(function() { location.href = elEv.loc; }, 400);
            return false;
          }*/
        }
      }
    });
  });
}
</script>
{% endblock %}
