{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The Athena Press</em><br/>
[LCCN: sn96088358]<br/>
Athena, Umatilla County, Or. <br/>
1893–1942</p>
<p>Centerville, Oregon, situated halfway between Pendleton, Oregon, and Walla Walla, Washington, was originally viewed by travelers as a pit stop between two major cities. However, by the late 1880s, Centerville started producing wheat that was the highest in quality because of fertile farmland. Growth in its wheat industry transformed Centerville from a pit stop to a bustling town with its own post office and a new name: Athena. </p>
<p>On January 1, 1887, J. E. McQuary and D. A. Hendricks launched a local independent newspaper entitled the <em>Athena Press</em>. It was available every Friday for 50 cents per issue or $2 for a yearly subscription. Its first publisher and editor, Fred B. Boyd, was the most notable figure in the newspaper&rsquo;s history; he left and came back to the <em>Press</em> over the course of forty-plus years. In 1891, the <em>Press</em> switched hands, with Irving McQuary taking over as proprietor. The newspaper switched ownership again in 1893; Fred B. Boyd became its new part-time owner, operating the paper along with J. W. Smith until his death in 1934.</p>
<p>During this time, there was only one competing newspaper: the <em>Inland Republican </em>[LCCN: not found]. Coincidentally, D. A. Hendricks started the rival newspaper. Beginning in 1890, the <em>Inland Republican</em> came out every Saturday; it had a republican focus on politics. The rivalry between the <em>Athena Press</em> and the <em>Inland Republican</em> was a short-lived, however, since the <em>Inland Republican</em> was only in operation for about five years. Upon its dissolution, the <em>Press</em> became Athena&rsquo;s primary news source.</p>
<p>Originally, the <em>Press</em> was a four-page newspaper. In the early 1910s, it expanded into an eight-page publication. Each edition featured a considerable number of advertisements; typically, the front page had the most, with the whole left side covered. The focus of these advertisements varied from selling clothes to selling machinery to the selling of domestic animals. Eventually, the <em>Press</em> incorporated a &ldquo;Classifieds&rdquo; section, which promoted real estate, food, clothing, and the like. Every edition contained several specialty sections, such as the &ldquo;Press Paragraph,&rdquo; which discussed local happenings and people&rsquo;s whereabouts, and &ldquo;Women in Fashion,&rdquo; which discussed current fashion trends. The <em>Press </em>also published poetry, scripture, and short stories from local authors and everyday citizens of the town.</p>
<p>In the early days of the <em>Athena Press</em>, the newspaper focused mainly on the topics of agriculture and Native Americans. As it progressed, it started reporting on state politics and local and regional news, such as sporting events and school activities. Up until its discontinuation, the <em>Press</em>&rsquo; expanded focused encompassed international events, such as world wars; national and local election results; and topical issues, such as the automobile&rsquo;s impact on society. <br>
   </p>
<p>Prepared with reference to:</p>
<p>&quot;About the City.&quot; About the City. Accessed April 13, 2015. <a href="http://www.cityofathena.com/about_the_city.html">http://www.cityofathena.com/about_the_city.html</a>
</p>
<p>Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939.</p>
<p>&quot;Umatilla County.&quot; Centerville, Oregon. Accessed April 13, 2015. <a href="http://www.oregongenealogy.com/umatilla/centerville.htm">http://www.oregongenealogy.com/umatilla/centerville.htm</a></p>
<p>&nbsp;</p>
    -- Written by Erin Choi
</div><!-- end id:std_box -->

{% endblock %}
