{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Aurora Borealis</em><br/>
  Aurora, Marion County, Oregon<br/>
  [LCCN: sn96088477] <br/>
  19??-1909</p>
<p>In 1856, a Prussian-born German tailor named Wilhelm Keil arrived in the Willamette Valley. Keil hoped to establish a utopian, communal society. He first established a colony in Bethel, Missouri, but felt threatened by secular society there. So he sent scouts to the Pacific Northwest to find another location for his ideal community. Keil traveled with church members to a location along the Willapa River. However, he considered the area to be too isolated. </p>
<p>Hearing about a location 25 miles south, Keil and his church members headed to the destination, where they would settle. It would become the Aurora Colony, named after Keil&rsquo;s daughter. In 1866, Keil gave up control of the Aurora Colony to a group of trustees who created the &ldquo;Articles of Agreement,&rdquo; the constitution for the colony. In 1877, upon Keil&rsquo;s death, the colony was slowly disbanded—officially in 1883, and with official incorporation in 1893.</p>
<p>It was in this small town, nestled halfway between Salem and Portland, that the <em>Aurora Borealis</em> [LCCN: sn96088477] would be established. In 1900, Herbert L. Gill, a well-known Oregon newspaperman, founded the <em>Borealis</em>. The newspaper had a six-column, four-page layout. It would be published weekly on Saturdays, selling for $1 for a yearlong subscription and $0.50 for a six-month subscription. By 1908, the <em>Borealis</em> started to lose subscribers. It published its last article in December 1908. </p>
<p>The <em>Borealis</em> began with Gill, along with H. A. Snyder as associate editor. Then, in 1906, the paper switched hands, with Sigward Nelson taking on both publishing and editing duties. In 1908, Dixon and Hoskinson took over as proprietors for the newspaper. Previous to the birth of the <em>Borealis</em>, the town of Aurora had a one-third stake in a paper called the <em>Three Sister</em>s [LCCN: sn96088299], which provided news to Aurora, Barlow, and Canby. Upon its discontinuation, Gill established another paper in 1911, the <em>Aurora</em> <em>Observer</em> [LCCN: sn96088478], which ran until 1940.</p>
The <em>Borealis</em> featured articles on a range of topics, especially politics. The paper produced extensive coverage of the 1908 presidential election between William H. Taft and William J. Bryan. It also covered events at international, national, and local levels, with weekly sections such as &ldquo;Items Gathered from All Parts of the World,&rdquo; &ldquo;News Items of General Interest from the State of Oregon,&rdquo; and &ldquo;Personal and Local.&rdquo; Additionally, it presented agricultural tips in the &ldquo;Farm and Garden&rdquo; section.
<p>    Prepared with reference to: <br />
    City of Aurora. &ldquo;City of Aurora, Oregon.&rdquo; Accessed June 12, 2015. <a href="http://www.ci.aurora.or.us/index.php?option=com_content&view=article&id=94&Itemid=102">http://www.ci.aurora.or.us/index.php?option=com_content&amp;view=article&amp;id=94&amp;Itemid=102</a></p>
<p>Old Aurora Colony. &ldquo;Explore Colony Life.&rdquo; Accessed June 12, 2015. <a href="http://www.auroracolony.org/old/aurora/colony/life/">http://www.auroracolony.org/old/aurora/colony/life/</a></p>
<p>Turnbull, George S. <em>History of Oregon Newspapers</em>.  Portland, Oregon: Binfords &amp; Mort, 1939. </p>
<p>&nbsp;</p>
    -- Written by Erin Choi
</div><!-- end id:std_box -->

{% endblock %}
