{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The Owl</em><br>
Beaverton, Washington County, Oregon<br>
[LCCN: sn96088375]<br>
1912-191?</p>
<p><em>Beaverton Times</em><br>
  Beaverton, Washington County, Oregon<br>
  [LCCN: sn96088374]<br>
  191?-19??</p>
<p>In 1909, Fry, Emmons &amp; Whitmore established the <em>Beaverton Times</em> [LCCN: sn96088374], which originally went under the name the <em>Reporter </em>[LCCN: not found]<em>. </em>The <em>Times</em> got yet another name change in 1912, when Earl E. Fisher purchased the paper. Fisher renamed it the <em>Owl </em>[LCCN: sn96088375]. The paper underwent a final name change in 1914, when A. J. Hicks and Davis purchased it.</p>
<p>In addition to being owner of the <em>Owl</em>, Fisher was also the editor, with Owl Publishing Co. as publisher, from 1912 to 1914. The first issue of the <em>Owl</em> was released on July 20, 1912. It was a weekly newspaper, published every Saturday, and it had a six-column, four-page layout. A yearlong subscription to the <em>Owl</em> was $1. </p>
<p>Topics the <em>Owl</em> covered ranged from school news to produce prices to politics—local and national. Additionally, it featured weekly sections &ldquo;Current Events of the Week,&rdquo; &ldquo;Items of Interest,&rdquo; &ldquo;Industrial Development and Progress of Our Home State,&rdquo; and &ldquo;Society.&rdquo; Around the time of its ownership by Hicks and Davis, the <em>Owl</em> focused even more on political news, such as mayoral nominations and legislative happenings (bills passed, introduced, etc.).</p>
<p>In 1914, when Hicks and Davis purchased the <em>Owl, </em>the world was on the verge of war. The newspaper focused mainly on events surrounding World War I, printing mostly army and war council news, war-related short stories, and advertisements promoting liberty bonds. Sentiments such as, &ldquo;There are no pacifists now. The people are either patriots or enemies. There can be no other classification,&rdquo; were evident throughout the newspaper. </p>
<p>In 1918, Robert H. Jonas took control of the <em>Owl,</em> becoming both editor and publisher of the newspaper. The paper&rsquo;s ramped-up coverage of political events continued through early 1919. However, such coverage lessened as World War I came to a close and U.S. troops returned home. The <em>Owl</em> still ran advertisements ranging from services wanted/available, home remedies, items for sale, and products.</p>
<p>Throughout its existence, the <em>Owl</em> saw many layout changes. It began with a six-column, four-page layout. Then, in 1915, it featured a four-column, eight-page layout. In 1917, the layout changed again, to seven columns and eight pages. Eventually, the <em>Owl</em> would revert to its 1912 layout: six columns and four pages. Despite these changes, the subscription would stay the same: $1.</p>
<p>&nbsp;</p>
<p>Prepared with reference to:</p>
<p>&ldquo;About Beaverton.&rdquo; Beaverton, Oregon. Accessed June 16, 2015. <a href="http://www.beavertonoregon.gov/index.aspx?nid=89">http://www.beavertonoregon.gov/index.aspx?nid=89</a></p>
<p>&ldquo;History.&rdquo; Beaverton, Oregon. Accessed June 16, 2015. <a href="http://www.beavertonoregon.gov/index.aspx?nid=95">http://www.beavertonoregon.gov/index.aspx?nid=95</a>  </p>
<p>Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939.</p>
<p>&nbsp;</p>
    -- Written by Erin Choi
</div><!-- end id:std_box -->

{% endblock %}
