{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Evening Capital Journal </em>[LCCN: sn99063952]<br />
  <em>Capital Journal</em> [LCCN: sn99063954]<br />
  <em>Daily Capital Journal </em>[LCCN: sn99063955]<br />
  The<em> Daily Journal </em>[LCCN: sn99063956]<br />
  <em>Daily Capital Journal</em> [LCCN: sn99063957]<br />
Salem, Oregon<br />
1888-1907</p>
<p>&nbsp;</p>
<p>The <em>Salem Capital Journal</em> was defined by moxie and determination. Making its debut on March 1, 1888 as the <em>Evening Capital Journal</em> [sn99063952] at a time when Oregon&rsquo;s capital already had several newspapers, it would outlast all its competitors. Will H. Parry, founder and manager, declared the <em>Journal</em> &ldquo;the people&rsquo;s paper.&rdquo; He also boasted it was the cheapest, priced at one-cent an issue. The <em>Capital Journal</em> came out daily, except for Sundays, and was forward about its Republican leanings.</p>
<p>The <em>Journal</em> changed hands several times, with the initial sale taking place just a few months after its founding. William H. Byars, the state surveyor general, and Martin L. Chamberlain of the Land Office bought out Parry. They turned over day-to-day operations to a young pressman, Frederic Lockley, whose instructions included &quot;selecting from a bushel basket of clippings for editorials, writing an occasional local editorial, rustling what advertising I could, and keeping all employees satisfied by paying them as promptly as possible.&quot; </p>
<p>Only months later, the paper was sold to Ernst and Andy Hofer, whose approach tended toward the sensational. One <em>Journal</em> headline blared: &ldquo;SUICIDE AND FOUL MURDER: Shot and poisoned by her paramour – Dr. Applewhite shoots – The Benton County Adultery Scandal.&rdquo; Another read, &ldquo;Policeman is murdered by pervert.&rdquo; But the result was a lively product, often written in a narrative style packed with details. The four-page broadsheet ran blurbs about real estate transfers, births and deaths. It also printed a column of &ldquo;personals,&rdquo; noting the comings and goings of city residents. Classified advertisements--not yet a newspaper standard--were purchased by bakers, chiropractors, watchmakers and taverns. </p>
<p>From February 1893 through 1895, the paper was known simply as the <em>Capital Journal</em> [LCCN: sn99063954]. In 1896, the <em>Capital Journal</em> became the <em>Daily Capital Journal</em> [LCCN: sn99063955] and by 1898, it expanded to eight pages. In 1912, Charles H. Fisher purchased the <em>Daily</em> <em>Capital Journal</em> from the Hofers. </p>
<p>By 1919, George Putnam was publisher and editor of the <em>Capital Journal</em> [LCCN: sn90066132]. Putnam was never one to back down from a local controversy; when donors tried to erect a bronze sculpture by Renoir outside the State Supreme Courthouse, the <em>Journal</em> proclaimed the work &ldquo;Fat and Naked.&rdquo; Putnam also routinely locked horns with the editor of the <em>Salem Oregon Statesman</em> [LCCN: sn85042470].</p>
<p>However, Putnam may be best known for a series of editorials he wrote against the Ku Klux Klan in the early 1920s. In this era of highly charged racial and religious tension, the Klan experienced a nationwide resurgence far beyond its original home in the South. In 1922, Klan leaders in Oregon launched a campaign to seize control of local and state politics. For fear of losing advertising revenue and subscribers, many newspaper editors shied away from criticizing the Klan in print, but Putnam attacked the organization relentlessly. His efforts convinced business leaders in Salem to support the <em>Journal</em> over the threat of a Klan boycott. George S. Turnbull, historian of Oregon journalism and Putnam&rsquo;s biographer, would characterize the <em>Capital Journal</em> as, &ldquo;Oregon&rsquo;s most active and outspoken newspaper foe of this new expression of political and religious bigotry.&rdquo;</p>
<p>The <em>Capital Journal</em> and the <em>Oregon Statesman</em> eventually merged into one daily, the <em>Salem Statesman-Journal</em> [LCCN: sn83002319], in 1980.</p>
<p>-- Written by Isolde Raftery</p>
<p></p>
</div><!-- end id:std_box -->

{% endblock %}
