{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Weekly Chemawa American</em><br/>
  [LCCN: ca15001324]<br/> 
  Chemawa, Or.<br/>
  August 16, 1901-December 30, 1910 available  </p>
<p><em>The Chemawa American</em><br/>
  [LCCN: 2003238611]<br/>
Chemawa, Or.<br/>
November 1, 1914-December 1, 1915 available</p>
   <p>A weekly newsletter of the Chemawa Indian Boarding School (Salem Indian Boarding School or Harrison Institute) north of Salem, Oregon, the <em>Weekly Chemawa American</em> periodical featured news articles, literature, and photographs by students who were attending a journalism class taught by school staff. By late 1914, the publication shifted to a monthly schedule, dropping &ldquo;weekly&rdquo; from the title to become the <em>Chemawa American</em>. Journalism classes also produced the school&rsquo;s annual yearbook, the &ldquo;Chemawa Chief,&rdquo; and programs for special events and plays. </p>
   <p>Chemawa Indian Boarding School is the oldest continually operating Indian Boarding School in the United States, established in 1880 by the Bureau of Indian Affairs in Forest Grove, Oregon, and then moved to Salem in 1885. The school has hosted students from throughout the western United States, including special groups of Alaskan natives, Navajo Indians, and in the earliest years, primarily students from Oregon&rsquo;s tribal reservations. The school is still in operation today under management by the Bureau of Indian Affairs. </p>
   <p>The issues in this online collection are part of the Charles Holmes Collection of Chemawa Indian Boarding School papers, photographs, and ephemera that are part of the Confederated Tribes of Grand Ronde Cultural Collections and Archives in the Chachalu Tribal Museum and Cultural Center. Charles Holmes was the staff instructor of the <em>Chemawa American</em> from the 1950s to 1980.</p>
    
    -- Essay provided by the Confederated Tribes of Grand Ronde; Grand Ronde, Oregon
</div><!-- end id:std_box -->

{% endblock %}
