{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The</em> <em>Daily Gazette-Times</em><br>
[LCCN: 2004260241] <br>
Corvallis, Benton County, Or. <br>
1909-1921 </p>
<p>The Corvallis <em>Daily Gazette-Times</em> evolved from two long-standing Corvallis newspapers: the <em>Corvallis Gazette </em>[LCCN: sn93051660] and the <em>Corvallis Times </em>[LCCN: sn2002060538]. With ownership changes occurring at both titles, the new proprietors (N.R. Moore at the <em>Times</em> and Charles L. Springer at the <em>Gazette)</em> began mulling over starting a daily. Springer beat Moore to the punch, issuing the first daily edition on May 1, 1909. The idea of consolidation came soon after, however, since neither the <em>Times</em> nor the <em>Gazette</em> had a plant capable of publishing a daily paper. The naming of the new daily was reportedly decided by a coin flip, landing in favor of the <em>Gazette</em>. The paper was referred to as the <em>Daily Gazette-Times </em>thereafter.</p>
<p>
  With Moore as editor and Springer as business manager, the six-column, four-page folio was published every evening except Sunday. The paper was available by mail at a rate of $5.00 per year, or could be delivered by carrier for $0.50 a month. In its early years the paper largely focused on local news and community events, including sporting events, theater happenings, and church services. Activities at O.A.C. (Oregon Agricultural College, now Oregon State University) were reported with regularity.</p>
<p> 
  By 1915, more national and international happenings began to appear in the paper as war activity in Europe increased. Claude E. Ingalls, a former newspaper owner from Kansas, took over as editor and publisher in September of that year. In need of work after relocating to Corvallis, Ingalls had gone to the <em>Gazette-Times </em>office to try to buy the paper from Moore, who by this time was involved in other political interests. Ingalls succeeded and bought the paper in full. Both Moore and Springer re-established interest in the paper in the following years, together establishing a &ldquo;very reliable and attractive journal, devoted to the interests of the community in which they live and to the dissemination of general news.&rdquo;</p>
<p>
  Community coverage continued throughout 1917 and 1918, though the bulk of the paper&rsquo;s front-page headlines were now on the events of World War I, both overseas and at home. Patriotic imagery and war support campaigns ran alongside updates on war preparations taking place in Corvallis, especially the activities of O.A.C. cadets. The November 11, 1918, announcement of the Armistice between Germany and the Allies stretched across the front page and was followed by details of the signing terms and celebrations in Corvallis.</p>
<p>
  In October 1920, Springer sold his one-third interest in the <em>Gazette-Times</em> to G. Lansing Hurd, ending his long-term connection to the paper. Now ranging from six to eight pages, the paper continued to grow and included more social content, full-page advertisements, and business news. On September 1, 1921, the paper&rsquo;s title was changed to the <em>Corvallis Gazette-Times</em> [LCCN: sn83004714], still in publication as the city&rsquo;s primary newspaper.</p>
<p>&nbsp;</p>
<p>Prepared with reference to:</p>
<p>
  Carey, Charles Henry. <em>History of Oregon Illustrated. </em>Vol. II. Chicago-Portland: Pioneer Historical Publishing Company, 1922<em>. </em></p>
<p>
  &ldquo;Interest in Paper Sold.&rdquo; <em>The Morning Oregonian</em>, October 7, 1920.</p>
<p>
  Turnbull, George S. <em>History of Oregon Newspapers</em>. Portland, Oregon: Binfords &amp; Mort, 1939.</p>
<p>&nbsp;</p>
    -- Written by Maia Fiala
</div><!-- end id:std_box -->

{% endblock %}
