{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The</em> <em>Corvallis Gazette</em><br>
[LCCN: sn84022650] <br>
Corvallis, Benton County, Or. <br>
1862-1899 </p>
<p>The <em>Corvallis Gazette </em>appeared in Corvallis, Oregon in 1862 with Thomas Benton Odeneal as editor. Odeneal is a curious figure in the history of Oregon newspapers, having traded one of his previous papers for a bookstore in 1859. His move to the <em>Gazette </em>was indicative of more than just a desire to change careers again; it also illustrated a marked change in his political views. Having previously worked on Democratic papers, he decided to edit the <em>Gazette</em>, a Republican periodical, as his interest grew in the policies of the Republican Party. He left the paper in 1866, planning &quot;to engage in more active, healthy employment a short time.&rdquo; Several owners and editors followed until the paper eventually merging with the <em>Oregon Union </em>[LCCN: sn85042402], forming the <em>Union Gazette </em>[LCCN: sn93051659] in 1899. </p>
<p>As a Republican organ, the <em>Gazette </em>was in favor of protective tariffs. An 1888 article, &ldquo;Protection, Free Trade,&rdquo; framed the tariff debate along class lines, contrasting the interests of labor with a wealthy elite. According to the paper, &ldquo;When… we seek to crowd down the price of labor to a level of foreign countries, by opening the doors of free trade to foreigners, then we knock the bottom out of our own market and offer a premium to poverty and furnish recruits for the poor house.&rdquo; The writers for the <em>Gazette </em>concluded that protective tariffs were necessary to ensure livable wages for American laborers, which, in turn, guaranteed prosperity for the nation.  </p>
<p>The <em>Gazette </em>was also an advocate of prohibition, running editorials about the need for temperance and moral reform. One article, &ldquo;Strike at the Root,&rdquo; employed a common rhetorical strategy of reform movements, arguing that alcohol consumption could corrupt youth. Urging parents to instill a sense of probity among children, the article suggested, &ldquo;Great danger to the rising generation lies in the drinking habits prevalent in society. Total abstinence is the only safe rule to adopt.&rdquo; With the exception of Sam Stinson&rsquo;s time as editor, when he consciously dropped the paper&rsquo;s support for temperance, the <em>Gazette </em>remained a fairly consistent &ldquo;dry&rdquo; paper. </p>
<p>The paper included sections devoted to busy readers.  A &ldquo;Telegraphic Resume&rdquo; provided short summaries of significant developments, with &ldquo;Local Happening&rdquo; designating space for passing comments on local events. Common advertisements included gun-smithing, jewelry makers, surveyors, and the Yaquina Steamship line.</p>
<p>&nbsp;</p>
<p>Prepared with reference to:</p>
<p>
  Turnbull, George S. <em>History of Oregon Newspapers</em>. Portland, Oregon: Binfords &amp; Mort, 1939.</p>
<p>&nbsp;</p>
    -- Written by Daniel Rinn
</div><!-- end id:std_box -->

{% endblock %}
