{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Crook County Journal</em><br>
Prineville, Crook County, Oregon<br>
[LCCN: sn00063661]<br>
189?-1921</p>
<p>Situated in a floodplain along the Crooked River, Prineville is one of the oldest towns in central Oregon. Established in 1868, Prineville was named after Barney Prine, an early settler. Prine had set up a blacksmith shop and store saloon, which boosted the local economy. Monroe Hodges built the town&rsquo;s first hotel in 1871. Prineville continued to grow as the booming cattle and sheep industry brought more settlers to the area.</p>
<p>In Prineville, Almond C. Palmer purchased an existing newspaper called the <em>Monitor</em> [LCCN: not found] and gave it a new name: <em>Crook County Journal</em>. The <em>Journal</em> would service this community for 27 years until its closure in 1921, when Floyd A. Fessler merged several Prineville papers into the <em>Central Oregonian</em> [LCCN: sn00063662]. During its run, the <em>Journal</em> only had one competitor, the <em>Review </em>[LCCN: sn00063658]. </p>
<p>The <em>Journal</em> was a weekly newspaper, published every Thursday. It featured an eight-column, four-page spread, although its column and page counts would fluctuate throughout its existence. A yearlong subscription to the <em>Journal</em> cost of $1.50; a six-month subscription, $0.75, and a three-month subscription, $0.50. </p>
<p>In 1901, Palmer sold the <em>Journal</em> to William T. Fogle, who then sold half of the interest to William H. Parker from Albany. In 1903, W. C. Black and Samuel M. Bailey owned the newspaper. Finally, in 1915, Guy La Follette became its editor and publisher. Toward the end of the <em>Journal</em>&rsquo;s run, Follette established the <em>Western Stock Grower</em> [LCCN: not found], a short-lived monthly paper. Fessler would eventually fold these papers into the <em>Central Oregonian, </em>which continues to print to this day.</p>
<p>The <em>Journal</em> was a Republican paper, printing such items as the Republican State Ticket during elections. It also covered topics ranging from community news to national events, including the 1901 assassination of President William McKinley. The newspaper also reported on global news, such as the ongoing revolution in Venezuela. Additionally, the <em>Journal</em> ran the weekly feature &ldquo;Notice of Publications,&rdquo; dedicating a couple pages to notifying the community about patents, land purchase and claim information, etc. </p>
<p>&nbsp;</p>
<p>Prepared with reference to:</p>
<p>Binus, Joshua. &ldquo;Bird&rsquo;s-eye View of Prineville, c. 1915.&rdquo; Accessed June 18, 2015. <a href="http://oregonhistoryproject.org/articles/historical-records/birdrsquos-eye-view-of-prineville-c-1915/#.VYL6c9OD5ss">http://oregonhistoryproject.org/articles/historical-records/birdrsquos-eye-view-of-prineville-c-1915/#.VYL6c9OD5ss</a></p>
<p>Cohen, Scott. &ldquo;Crooked River.&rdquo; Accessed June 18, 2015. <a href="http://oregonencyclopedia.org/articles/crooked_river/#.VYCHqNOD5ss">http://oregonencyclopedia.org/articles/crooked_river/#.VYCHqNOD5ss</a></p>
<p>Crook County Chamber of Commerce. &ldquo;About Prineville.&rdquo; Accessed June 18, 2015. <a href="http://visitprineville.org/relocating/about-prineville/">http://visitprineville.org/relocating/about-prineville/</a></p>
Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939.
<p>&nbsp;</p>
-- Written by Erin Choi
</div><!-- end id:std_box -->

{% endblock %}
