{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Eagle Valley news </em><br />
  [LCCN:  sn96088408]<br />
  Richland, Oregon <br />
  Richland, Or</p>
<p>&nbsp;</p>
<p> In 1897 the eastern Oregon town of Richland was established  in response to the growing mining and railroad industries.  The <em>Eagle  Valley news,</em> [LCCN: sn96088408], started in the early nineteen-teens and  was published weekly and cost $1.50 for an annual subscription.  The newspaper ran for a few years and on July  10, 1919 an article ran on the front page announcing the indefinite suspension  of the newspaper due to the publisher’s medical issues.</p>
<p>&nbsp;</p>
<p>Prepared with reference to: <br />
  Bailey, Barbara Ruth (1982). <em>Main  Street: Northeastern Oregon</em>. Oregon Historical Society. p.&nbsp;53. ISBN&nbsp;0875950736. </p>
<p>- Written by Katie Moss</p></div><!-- end id:std_box -->

{% endblock %}
