{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The Echo Register</em><br>
[LCCN: sn96088034]<br>
Echo, Umatilla County, Oregon<br>
190?-1909</p>
<p>Founded in 1906 by R. B. Brown and Alfred Denton Cridge, the <em>Echo Register</em> was the primary news source in Echo, Oregon, until 1909, when <em>Echoes</em> [LCCN: not found] was founded; in 1913, it became the <em>News</em> [LCCN: sn96088035]. Though the <em>News</em> came to predominate in Echo, and eventually succeeded both newspapers, the <em>Register</em> had a short but successful run until its discontinuation in 1913. </p>
<p>Around 1860, pioneers began settling in a small rest stop on the Oregon Trail, 20 miles west of Pendleton, Oregon. This small settlement grew as the newcomers planted crops such as alfalfa and corn. Agriculture led to the settlement&rsquo;s incorporation by James H. Koontz and William D. Brassfield in 1880. </p>
<p>Named after Koontz&rsquo;s daughter, Echo, Oregon, eventually became home to successful sheep, wool, cattle-producing, and shipping industries. In addition to the historic Oregon Trail rest stop, now located at Fort Henrietta Park, other points of interest that run through Echo are the Umatilla River, Union Pacific Railroad, I-84, and several Native American trails.</p>
<p>The <em>Register</em> was a six-column newspaper that came out every Friday. A yearlong subscription was $1.50, which increased to $2 in May 1909. Its first publishers and editors were Brown and Statton. In 1909, Edward H. Brown took the helm. Brown would stay with the <em>Register</em> as its publisher and editor until its closure.</p>
<p>Each issue of the <em>Register</em> presented news on the local and state level, focusing on the betterment of Echo and Oregon in general; politics, with an emphasis on &ldquo;proportional representation&rdquo; and democracy; and agriculture, with an eye toward best farming and agriculture practices. Some specialty sections that were published weekly were &ldquo;Happenings Gathered in and Around Washington, D.C.,&rdquo; &ldquo;News Items of General Interest from the State of Oregon,&rdquo; and &ldquo;Farm and Garden.&rdquo; </p>
<p>Community news encompassed school rosters, city council discussions, wool and sheep industry updates (as Echo, Oregon, had the largest wool-scouring plant in the state), and people&rsquo;s whereabouts (&ldquo;Local Happenings&rdquo;). A &ldquo;Classifieds&rdquo; section featured items that people were selling, such as blankets and postcards. This section featured a weekly advertisement from George and Miller Co., which was a major trading company based in Echo that was founded by Fred George and Charles Miller. The half-page ad highlighted new products, fashion trends, and product information. Additionally, weekly stories from the community and excerpts from famous novels were also published in this section.</p>
<br clear="all">
<p>Prepared with reference to:</p>
<p><em>Historical Inventory of Echo</em>. Echo, Oregon: City of Echo, 2013. Accessed April 20, 2015. <a href="http://www.echo-oregon.com/pub/inventory-13.pdf">http://www.echo-oregon.com/pub/inventory-13.pdf</a></p>
<p>Rowell, George Presbury. <em>Rowell's American Newspaper Directory</em>. New York: Geo. P. Rowell &amp; Co., 1909. Accessed April 20, 2015. <a href="https://archive.org/stream/americannewspape1909newy#page/8/mode/2up">https://archive.org/stream/americannewspape1909newy#page/8/mode/2up</a></p>
Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939.
<p>&nbsp;</p>
-- Written by Erin Choi
</div><!-- end id:std_box -->

{% endblock %}
