{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The News=Record</em><br/>
 [LCCN: sn96088043]<br/>
Enterprise, Wallowa County, Or.<br/>
1907-1910</p>
  <em>Enterprise News-Record</em><br/>
   [LCCN: sn96088044]<br/>
   Enterprise, Wallowa County, Or.<br/>
  1910-1911 </p>
<p>Debuting on April 26, 1907, the <em>News</em>=<em>Record</em> of Enterprise, Oregon, had a checkered first year of  publication.  The paper was originally published  as the <em>Wallowa</em> <em>News </em>[LCCN: sn96088045]for  eight years in Wallowa, but owners Fred G. Conley and J. Arthur Bishop renamed  it upon moving to Enterprise in 1907.  A  worsening nervous condition encouraged Conley to sell the <em>News=Record </em>shortly after leaving Wallowa.  The new owner, a Portland journalist named James  Corey, ran the publication for four months, during which time he tainted its reputation  through excessive boosterism.  Corey sold  the nascent weekly to Homer A. Galloway in the same year.</p>
<p>
  Galloway immediately made  changes to the paper, trying to combat the damage done to its reputation under Corey&rsquo;s  management.  In an editorial,  &ldquo;Forewarned, Forearmed,&rdquo; Galloway introduced himself and explained his plans to  restore the weekly&rsquo;s credibility, suggesting he would work hard to filter  content but admitting that he would not be neutral on local controversies. </p>
<p>
  In October 1907, Galloway  offered prize-based incentives to individuals who sold the most subscriptions.  The competition was successful, increasing  readership just before the county court used annual subscription lists to determine  which local publication would become the official county paper.  After the competition, Galloway began  praising Enterprise as the best location for the Wallowa County seat, a  campaign that drew criticism from the <em>Wallowa  Sun</em> [LCCN: sn96088048].  By June 1908, Galloway&rsquo;s efforts paid off,  and Enterprise was voted to remain the seat of Wallowa County. </p>
<p>
  The <em>News</em>=<em>Record</em> covered local  developments such as railroad, telegraph, and school construction. Enterprise was  not without more sensational news, however.   A July 1908 article, &ldquo;Brave Woman in Runaway Accident,&rdquo; detailed the  account of a woman who survived a wagon mishap. An April 1911 article, &ldquo;Curtiss  Describes Hydro-Aeroplane,&rdquo; described Glenn Curtiss&rsquo; amphibious flying vehicle and  anticipated launch from the coastal town of Astoria.</p>
<p>
  Advertisements in the <em>News=Record</em> included Castoria, Ayor&rsquo;s  Hair Vigor, M. and M. Milling Company, Kodak, and Mica Grease.  Mysteries and other works of fiction were  published across several issues, taking weeks to conclude.  Additionally, advice articles offered suggestions  for gardening, home improvement, and better housekeeping.</p>
<p>Galloway&rsquo;s sister-in-law,  Snow Heaton, joined the venture in January 1908.  By July, they installed a Two-Letter Junior  Merganthaler Linotype, making it the first county paper that did not use  hand-set type.  In October 1908 the team  expanded when Ben Weathers of the <em>Wallowa</em> <em>Chieftain</em> [LCCN: sn94052752] accepted an offer from Galloway to combine their efforts  and form the Enterprise Press. </p>
<p>
  Galloway ran each paper  separately but with the same content.  On  January 2, 1909, he started publishing the <em>News</em>=<em>Record</em> semiweekly, on Wednesdays and  Saturdays, a first in Wallowa County.  The  title of the paper was changed to the <em>Enterprise</em> <em>News</em>-<em>Record </em>on December 31, 1910.   By 1911, Enterprise Press merged the <em>Chieftain</em> and the <em>Enterprise</em> <em>News-Record</em> to form the <em>Enterprise</em> <em>Record</em> <em>Chieftain </em>[LCCN: sn96088041]<em>, </em>a new paper &ldquo;with one purpose and one interest.&rdquo;   </p>
<p>Prepared with reference to: <br />
  Turnbull, George S. <em>History of Oregon Newspapers</em>.  Portland, Oregon: Binfords &amp; Mort, 1939.</p>
<p>
  -- Written by Daniel Rinn</p>
</div>
<!-- end id:std_box -->

{% endblock %}
