{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The  State Republican</em><br />
[LCCN: sn83025130]<br />
Eugene, Lane County, Oregon<br />
1862-1863</p>
<p>On January 1,  1862, Hilyard Shaw and Benjamin Davis released the first issue ofthe<em> State Republican</em>.  Working out of the  former plant of the <em>People&rsquo;s Press</em> [LCCN: 2013260002] in Eugene, Oregon, Shaw wanted to publish an anti-slavery  paper to check the influence of Democratic publications in the state.  Both founders of the <em>State Republican</em> were established pioneers, Shaw being one of the  earliest mill owners who built Eugene's first millrace.  </p>
<p>
  Appearing  during the Civil War, the paper was deeply political; the first issue announced  that any treaty with the Confederacy would &ldquo;forsake our national dignity.&rdquo;  The<em> State  Republican</em> often ran articles that criticized other papers, especially  those with a Democratic orientation.  An  article titled &ldquo;Disgusting&rdquo; reflected on a report of a Confederate victory  written by James O&rsquo;Meara of the <em>Southern  Oregon Gazette </em>[LCCN: unknown]<em>,</em> stating, &ldquo;This must be sport to you, an&rsquo;t it Jim?  To chew a dirty commodity and spit through  your teeth at the good people whom you cannot otherwise insult anymore.&rdquo;  According to Shaw and Davis, O&rsquo;Meara, who  edited a series of Democratic papers in Oregon, had printed an erroneous  account of a battle near Charleston.</p>
<p>The Civil War  proved to be a trying time for Democratic publications.  The<em> State  Republican</em> supported efforts to stifle Democratic papers in the state,  suggesting such publications &ldquo;justly should be&rdquo; silenced.  Shaw and Davis were comfortable with the  denial of mailing privileges to southern sympathizing papers, a phenomenon that  was not uncommon in Oregon.</p>
<p>The periodical  was also engaged in a controversy within Republican ranks as an ardent  supporter of Oregon&rsquo;s Union Party.   Against complaints that the organization of a Union Party would split  the Republican vote, an issue published on January 11, 1862 stated, &ldquo;To all  such we would say entertain no jealous fears about your organization, for that  is not the object of attack&rdquo;.  According  to Shaw and Davis, the founding of the Union Party was the result of  &ldquo;spontaneous&rdquo; action on the part of Oregonians who championed the continued  existence of the Union.  Following issues  contained announcements concerning Union Party rallies and other related events.</p>
<p> 
  By September of  1862, the paper was transferred to James Newton Gale, with Harrison Kincaid  assuming editorial duties.  Gale had  moved to Oregon years earlier from Indiana and owned a bookstore in Eugene at  the time he purchased the<em> State  Republican</em>.  Kincaid, although only  26 years old, was an experienced newspaperman, having worked on the Eugene<em> People&rsquo;s Press</em> [LCCN: 2013260002] in  the past.  Upon taking over as publisher,  Gale assured readers he would not change the paper&rsquo;s tone or political affiliation.  True to his word, the periodical remained a reliable voice for the Republican  Party.  Gale, an abolitionist, faced  backlash from secessionists in the area who threatened to hang him and throw  his press in the river.</p>
<p>Undeterred, the<em> State Republican</em> continued to take a  critical view of the Confederacy and Democratic papers in Oregon.  A March 14, 1863 article, &ldquo;Recruiting in  Oregon,&rdquo; highlighted one of the subtleties of state politics in the Civil War  era.  As a result of the 1860 Snake River  Massacre, in which several settlers traveling along the Oregon Trail were  killed by Indians, many Oregonians and government officials wanted to recruit  additional cavalry to protect passage to the state.  Attempting to console anxious Democrats who  feared additional soldiers would unfavorably impact the outcome of the Civil  War, Gale and Kincaid made the case that such security would increase  immigration to the state, encouraging economic growth and thus benefiting  Democrats and Republicans alike.</p>
<p>
  The<em> State Republican </em>was a short-lived  paper.  It was consolidated with the <em>Oregon Argus</em> [LCCN: sn83025129] of Salem  in May of 1863.  Gale followed the paper  to Salem and was editor until its consolidation with the <em>Oregon Statesman</em> [LCCN: sn85042470]  in October of that year.<br />
  <br />
  
  Prepared with reference to: 
  </p>
<p>Turnbull, George S. <em>History of Oregon Newspapers</em>. Portland,  Oregon: Binfords &amp; Mort, 1939. </p>
<p>--Written by  Daniel Rinn and Emily Vance</p>
<p></p>
</div><!-- end id:std_box -->

{% endblock %}
