{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Heppner Weekly Gazette</em><br>
[LCCN: sn97071041]<br>
Heppner, Morrow County, Or.<br>
1883-1890</p>
<p><em>The Weekly</em> <em>Heppner Gazette</em><br>
[LCCN: sn94049697]<br>
Heppner, Morrow County, Or.<br>
1890-1892</p>
<p><em>The</em> <em>Heppner Gazette</em><br>
  [LCCN: sn94049698]<br>
  Heppner, Morrow County, Or.<br>
  1892-1912</p>
<p><em>The</em> <em>Gazette-Times</em><br>
  [LCCN: sn97071038]<br>
  Heppner, Morrow County, Or.<br>
  1912-1925</p>
<p><em>Heppner</em> <em>Gazette-Times</em><br>
[LCCN: sn97071042]<br>
Heppner, Morrow County, Or.<br>
1925-current</p>
<p>The <em>Gazette </em>first appeared in Heppner, Oregon, in 1883 as the <em>Heppner Weekly Gazette </em>[LCCN: sn97071041].  The publisher, John H. Stine, relocated from Portland, bringing with him a Washington hand-press and other printing equipment. Stine sold the paper after a short tenure, beginning a trend of many editors and publishers cycling through the staff.  Future proprietors came from a variety of backgrounds, including former scout and Colonel John Redington, Reverend Henry Rasmus, and a teacher, Otis Patterson.   </p>
<p>The paper reflected the rotations in staff, itself going through a few changes in name.  In 1890, the title changed to <em>Weekly Heppner Gazette </em>[LCCN: sn94049697], which ran for two years before assuming the title <em>Heppner Gazette.  </em>In 1910, Vawter Crawford, formerly of the <em>Morrow County Record </em>[LCCN: sn2002060529], bought the <em>Gazette </em>and consolidated it with the <em>Heppner Times </em>[LCCN: sn97071040], forming the <em>Gazette-Times </em>in 1912.  A final change came in 1925 when the paper became the <em>Heppner Gazette-Times </em>[LCCN: sn97071042].  </p>
<p>Regardless of the frequent name changes, the paper remained a consistent supporter of the Republican Party.  Perhaps not as vitriolic as other periodicals, the <em>Gazette </em>still criticized neighboring editors and newspapers.  An 1898 article accused the <em>Dalles Times-Mountaineer</em> [LCCN: sn93051669] of being inconsistent in its denunciation of bossism.  According to the <em>Gazette,</em> the <em>Mountaineer </em>&ldquo;encouraged the democrats and populists to unite with the &lsquo;boss&rsquo; to defeat the will of the republican party.  Now it should take its medicine if the &lsquo;little boss&rsquo; gives the popocrats a few hard raps.&rdquo;  As a self-described &ldquo;straight republican&rdquo; organ, the paper was not reluctant to advertise its political affiliation.  Even after its consolidation with the <em>Times, </em>it continued to show a partisan slant. </p>
<p>The <em>Gazette </em>offered coverage and analysis of national and local news.  One article illustrated a degree of suspicion of the American Federation of Labor.  In reference to the principle of equal opportunity espoused by labor leaders Samuel Gompers and Frank Morrison, the <em>Gazette </em>asked, &ldquo;Would either Gompers or Morrison allow any free born American citizen to work at his trade beside one of their union members if he did not have a card in the same union?&rdquo;  The editor found it unlikely.  </p>
On a more local level, the <em>Gazette</em> celebrated the work of a women&rsquo;s organization in beautifying the community, writing, &ldquo;there is no end to the good things for Heppner that we may confidently look forward to.&rdquo;  Examples of other local topics included public ownership and development of hydraulic power, mescal use among Native Americans, and a growing coyote problem in Morrow County. Sections titled, &ldquo;Resume of the Week&rsquo;s Doings&rdquo; and &ldquo;Here and There&rdquo; provided succinct summaries of national and regional events for busy readers.  Advertisements featured dry goods dealers, dentists, attorneys, and products such as pianos and beer.  Short stories such as &ldquo;The Iron Pirate&rdquo; and &ldquo;The Chauffeur and the Jewels&rdquo; would appear as serials, helping balance the political content of the paper. <br clear="all">
<p>Prepared with reference to:</p>
<p> Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939.</p>
<p>&nbsp;</p>
-- Written by Daniel Rinn
</div><!-- end id:std_box -->

{% endblock %}
