{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The Argus</em><br>
Hillsboro, Washington County, Oregon<br>
[LCCN: sn96088160] <br>
1894-1895</p>
<p><em>The Hillsboro Argus</em><br>
  Hillsboro, Washington County, Oregon<br>
  [LCCN: sn84006724] <br>
  1895-current</p>
<p>In March 1894, C. W. Clow and R. H. Mitchell launched the <em>Argus </em>[LCCN: sn96088160] in Hillsboro, Oregon. Located about 18 miles west of Portland, Hillsboro was known for its agriculture, commerce, and government. Its newspaper, the <em>Argus</em>, would go on to become the leading print news source in Hillsboro. It would receive many awards and recognitions. It would also become the oldest newspaper in Hillsboro, operating to the present day. </p>
<p>The newspaper was originally called the <em>Argus</em>. In 1895, the paper&rsquo;s name was changed to the <em>Hillsboro Argus</em> [LCCN: sn84006724]. The <em>Hillsboro Argus</em> featured a seven-column, four-page spread, which would expand as the newspaper grew. Subscribers could get the <em>Hillsboro Argus</em> for $1 for a yearlong subscription, $0.60 for a six-month subscription, or $0.35 for a three-month subscription.</p>
<p>On October 4, 1894, J. A. Bowen became manager of the <em>Hillsboro Argus</em>, with R. H. Mitchell as editor. The Argus Publishing Co. printed the paper until the 1920s. Not long afterward, Lucius A. Long replaced Mitchell as editor. Long was already a recognized editor before succeeding Mitchell. It was well known that he had started his newspaper career at the age of nine. Long would remain at the <em>Hillsboro Argus</em> for decades to come.</p>
<p>Around when Long joined the <em>Hillsboro Argus</em>, Claude Robinson bought out Bowen&rsquo;s half of the newspaper. The <em>Hillsboro Argus</em> would change hands many times before it found stable ownership in the 1920s, thanks to the McKinney family. In April 1904, Emma C. McKinney bought out Robinson&rsquo;s half. McKinney was on staff at the <em>Hillsboro Argus</em> and was once on staff at the <em>Hillsboro Independent </em>[LCCN: sn96088159], the <em>Argus</em>&rsquo;s main competitor. In 1907, Henry G. Guild bought out Long&rsquo;s half, which then was bought out by W. Verne McKinney, son of Emma McKinney, in 1923. This mother-son partnership led to the birth of McKinney &amp; McKinney. Together, they bought out the <em>Hillsboro Independent</em> in 1932. </p>
<p>During the McKinney era, the <em>Hillsboro Argus</em> garnered several awards and honorable mentions from the National Editorial Association, now the National Newspaper Association (NNA). It won in 1934, 1935, 1937, 1938, and 1939 in such categories as General Excellence and Best Editorial Page. In 1957, Emma C. McKinney won the Amos Voorhies Award, the highest state newspaper honor. In 1982, she was inducted into the Oregon Journalism Hall of Fame. In 1966, the McKinney Memorial Award was created in honor of Emma and her 58 years as co-publisher and editor of the <em>Hillsboro Argus</em>. This award, along with the Amos Voorhies Award, is given yearly to newspaperwomen and men &ldquo;who have exhibited distinguished service to the community press&rdquo; (NNA, 2015). </p>
<p>The <em>Hillsboro Argus</em> covered a wide range of topics, from politics to home remedies. There were weekly sections that focused on local, national, and international news. Sections &ldquo;Along the Coast&rdquo; discussed news from southern and northern states; &ldquo;Events of the Day,&rdquo; local happenings; and &ldquo;News of the State,&rdquo; &ldquo;items of interest from all over Oregon.&rdquo; In addition, there was a weekly classifieds section and short stories, poems, and cartoons. The <em>Hillsboro Argus</em> continues to report the news today.</p>
<br clear="all">
<p>Prepared with reference to:</p>
<p>Fitzgerald, Kimberli, and Deborah Raber. <em>Hillsboro</em>. Charleston, South Carolina: Arcadia Publishing, 2009. </p>
<p>&ldquo;Hillsboro History.&rdquo; Hillsboro, Oregon. Accessed June 9, 2015. <a href="http://www.ci.hillsboro.or.us/index.aspx?page=463">http://www.ci.hillsboro.or.us/index.aspx?page=463</a>  </p>
<p>National Newspaper Association (NNA). &ldquo;Amos and McKinney Awards.&rdquo; Accessed June 9, 2015. <a href="http://nnaweb.org/amos-and-mckinney-awards">http://nnaweb.org/amos-and-mckinney-awards</a>  </p>
<p>Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939.</p>
<p>&nbsp;</p>
-- Written by Erin Choi
</div><!-- end id:std_box -->

{% endblock %}
