{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Hood River Sun </em><br>
[LCCN: 2015260100]<br>
Hood River, Wasco County, Oregon<br>
1899-1900</p>
<p>In the heart of the Columbia River Gorge, 60 miles east of Portland, lies the historic town of Hood River, Oregon. Stumbled upon by the Lewis and Clark Expedition in 1805, Hood River was officially incorporated in 1895. Sloan P. Shutt arrived in this small, orchard town and saw the need for a second newspaper, the <em>Hood River Glacier </em>[LCCN: sn97071110] having been established since 1889. On September 28, 1899, the first issue of the <em>Hood River Sun </em>[LCCN: 2015260100] was published. Its run was brief, however, with the last issue hitting newsstands on February 8, 1900. Only 20 issues were ever printed. </p>
<p>During its first few weeks, the <em>Sun</em> was delivered to homes without charge in order to get the community&rsquo;s attention. It hoped to draw subscribers away from the already-established <em>Hood River</em> <em>Glacier</em> [LCCN: sn97071110]. Yearlong subscriptions to the <em>Sun</em> were $1.50; six-month subscriptions, $1; and three-month subscriptions, $0.75. The <em>Sun</em> was a weekly newspaper, published every Thursday, and it featured a seven-column, four-page spread. </p>
<p>Four weeks after publishing the first issue of the <em>Sun</em>, Shutt left the paper because of mining interests in Sumpter, Oregon. He leased the newspaper to Eber R. Bradley. The first issue under Bradley was published on October 26, 1899. However, Bradley was unable to keep the <em>Sun</em> going. He closed up shop in February 1890, which was when Shutt sent for his presses. The presses were sent to Granite, Oregon, where Shutt founded the <em>Granite Gem</em> [LCCN: not found].</p>
<p>In its short life, the <em>Sun</em> was not devoid of drama. In the November 2, 1899, issue, Shutt responded to an article by Samuel F. Blythe from the <em>Glacier</em>. Blythe had accused Shutt of advertising for stores outside of Hood River and for abandoning ship because of a lack of revenue. Shutt penned a defense ending with the line: &ldquo;So, Mr. Glacier, try to brush aside this mossback hostility towards new comers and enterprises that are here or may come for the purpose of assisting in the advancement and upbuilding of Hood River Valley. No good can come from such a selfish course. Live and let live is a grand and noble motto.&rdquo;</p>
<p>Listed as a Republican paper, the <em>Sun</em> focused on a range of topics. Weekly sections included &ldquo;Local and General,&rdquo; &ldquo;Correspondence: Live local news from the surrounding country,&rdquo; &ldquo;The News of the Week,&rdquo; and &ldquo;Pacific Coast News,&rdquo; and &ldquo;Commercial and Financial Happenings of Interest in the Growing Western States.&rdquo; Additionally, each issue presented a classifieds section and advertisements for groceries, merchandise, services, rent, and lumber.</p>
<br clear="all">
<p>Prepared in reference to:</p>
<p>City of Hood River. &ldquo;About Hood River.&rdquo; Accessed May 19, 2015. http://ci.hood-river.or.us/pageview.aspx?id=18183. </p>
<p>Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939.</p>
<p>&nbsp;</p>
<p>Special thanks to Arthur Babitz, volunteer at the Hood River Public Library, for historical research and background information, as well as discovering the <em>Hood River Sun</em>.</p>
<p>&nbsp;</p>
-- Written by Erin Choi
</div><!-- end id:std_box -->

{% endblock %}
