{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The Hood River Glacier</em><br>
[LCCN: sn97071110] <br>
Hood River, Hood River County, Or. <br>
1889-1933 </p>
<p>The first newspaper in Hood River, Oregon, the<em> Hood River Glacier </em>was established in 1889 by postmaster George T. Prather, who claimed in the issuing number that he was not seeking a fortune in the newspaper business.  Playing on the publication&rsquo;s title, he wrote, &ldquo;If the little Glacier will slide along slowly and grind out its own expenses we [the publishers] shall be satisfied.&rdquo;  John H. Cradlebaugh, a poet who also worked on the <em>Wasco Sun</em> [LCCN: sn93051664] in nearby Dalles City, served as the paper&rsquo;s first editor.  </p>
<p>Connections to the <em>Sun </em>proved beneficial as the first issues of the <em>Glacier </em>were printed in the <em>Sun </em>newspaper plant.  The paper eventually found a plant in Hood River shortly after its establishment, a development that was announced in more than one issue.  Cradlebaugh, who became the sole owner, sold the publication to Samuel F. Blyth in July 1894.  Blyth expanded the <em>Glacier </em>and later included his son, Edward.  By May of 1904, the paper was transferred to Arthur D. Moe, who installed a Simplex typesetter and brought on Joe D. Thomison as editor.  The <em>Glacier </em>was eventually bought out by the<em> Hood River News </em>[LCCN: sn83009939] in 1933. </p>
<p>Early issues of the <em>Glacier</em> covered the development of infrastructure in the Hood River area, with articles on irrigation and the need for a reliable water supply appearing frequently.  Other regional news included an account of the catastrophic 1899 fire in Seattle that burned 100 acres of the business district and waterfront, a total of 25 city blocks.  A 1903 article detailed boundary negotiations between government officials and Yakima Indians.  According to the <em>Glacier</em>, the Yakima Indian Reservation should have been more expansive, encompassing territory that was promised in an 1855 treaty.   </p>
<p>In 1921, the <em>Glacier </em>reported on the kidnapping of the Millers, a local family, by Luther Fagan, an ex-con, who shot Mr. Miller and abducted his family, threatening their lives as he was pursued by a posse.  In an episode that would attract national attention, Fagan was lured into an exposed position and fatally shot by Hermann Pregge, a local orchardist and noted marksman.  The <em>Glacier </em>concluded, &ldquo;The Oregon Parole Board should return fervent thanks to God for the availability of a man like Hermann Pregge.&rdquo; </p>
<p>Moving beyond local developments, the <em>Glacier </em>covered the 1882 Chinese Exclusion Act, arguing that it &ldquo;seems like a harsh measure but the law is necessary and good.&rdquo;  Another issue criticized a New York reverend for stating that the law would be hard to enforce and was an insult to an &ldquo;accomplished people.&rdquo;  The publishers of the <em>Glacier </em>demurred, &ldquo;It is passing strange how readily a religious zealot can clothe with imaginary attributes a people whom he desires to inculcate with his doctrine.&rdquo;   </p>
Also featured were fictional stories such as &ldquo;Her Rival&rsquo;s Valentine,&rdquo; which would run as a serial over several issues.  Advertisements varied from local services such as George Prather&rsquo;s Dry Goods and the Glacier Barbershop, to products including Gravely Chewing Plug, Mazola vegetable oil, and Studebakers.
<p><br clear="all">
</p>
<p>Prepared with reference to:</p>
<p>Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939.</p>
<p>&nbsp;</p>
-- Written by Daniel Rinn
</div><!-- end id:std_box -->

{% endblock %}
