{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
<div id="std_box">
<p><em>Junction City Bulletin</em><br>
[LCCN: sn97058449]<br>
Junction City, Lane County, Oregon<br>
189?-1901</p>
<p>In the late 1800s, stagecoach and railroad developer Ben Holladay built railroads along the east and west banks of the Willamette River between the cities of Eugene and Albany in Oregon. Holladay named this area Junction City in hopes of creating a future junction for his railroads. However, this railroad connection wouldn&rsquo;t happen until 1920, when Highways 99E and 99W came together in the area.</p>
<p>In 1898, the <em>Junction City Bulletin</em> [LCCN: sn97058449] was founded in sleepy Junction City, Oregon. Clayborn P. Houston was its first editor, and the Bulletin Publishing Co. was its publisher. The newspaper came out twice a week, on Tuesdays and Fridays. The paper was available for $1.50 per yearlong subscription, $0.85 per six-month subscription, and $0.45 per three-month subscription. </p>
<p>At first, the <em>Bulletin</em> featured a seven-column, four-page spread. Later, the paper&rsquo;s layout evolved into a five-column, six-page spread. During its short run, the <em>Bulletin</em> switched hands two more times. In 1899, J. B. Lawrence became the editor. Then in 1900, Alexander P. Bettersworth Jr. and Anna Oglesby took over as editor and associate editor, respectively.</p>
<p>Each issue of the <em>Bulletin</em> featured specialty sections. &ldquo;Events of the Day&rdquo; described current events in Junction City. &ldquo;Bulletin Board&rdquo; was where the community could post information and services available. &ldquo;News of this and Neighboring States&rdquo; relayed political or social news from Oregon and other states. &ldquo;Personal&rdquo; listed the comings and goings of locals and visitors. &ldquo;Correspondence&rdquo; told of personal activity that happened in other states. Lastly, &ldquo;Obituary&rdquo; reported on the recently deceased.</p>
<p>During its two-year existence, the <em>Bulletin</em> had just one other competitor: the <em>Junction City Times</em> [LCCN: sn97071012]. Founded by Steele N. Moorhead in 1891, the <em>Times</em> had greater longevity, lasting until 1984, when it ceased publication.</p>
<br clear="all">
<br>Prepared with reference to:<br/>
<p>Battaile, Connie. <em>The Oregon Book: Information A to Z</em>. Newport, OR: Saddle Mountain Press, 1998. </p>
<p>Library of Congress. &ldquo;Chronicling America.&rdquo; News About Chronicling America RSS. Accessed May 15, 2015. </p>
<p>McArthur, Lewis A., and Lewis L. McArthur. <em>Oregon Geographic Names</em>. 4th ed. Portland: Oregon Historical Society, 1974.</p>
<p>&nbsp;</p>

-- Written by Erin Choi
</div><!-- end id:std_box -->

{% endblock %}
