{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p>The E<em>vening Herald </em><br />
  [LCCN: sn99063812]<br />
Klamath Falls, Oregon<br />
1906-1922</p>
<p>&nbsp;</p>
<p>In 1906, Fred Cronemiller and his wife launched a resilient home-published newspaper, the <em>Klamath Falls</em> <em>Evening Herald </em>[LCCN: sn99063812]<em>, </em>in southern Oregon, just east of the Cascade Mountains.</p>
<p>Two years later, Ed Murray and W.O. Smith bought the paper and a linotype machine, turning the tabloid into a four-page broadsheet that ran every day except Sunday and cost five cents a copy. Murray and Smith had managed other papers in this town of 6,000 and sought to turn the <em>Herald</em> into the leading local newspaper.</p>
<p>At this time Klamath County was a growing area, as evidenced by the paper&rsquo;s advertisements boasting cheap mill lots, the region&rsquo;s livability and a low incidence of malaria. In 1912, there were two other dailies in Klamath Falls: the <em>Express</em> [LCCN: sn99063824] and the <em>Evening Chronicle </em>[LCCN: n/a]. They were purchased and then canceled by Sam Evans, who started the <em>Northwestern </em>[LCCN: sn99063821], a morning daily, to rival the <em>Evening Herald</em>. The <em>Northwestern</em> lasted only three years, leaving the <em>Evening Herald</em> as the only paper in Klamath Falls until 1923.</p>
<p>Though the <em>Evening Herald</em> was deemed conservative, it didn&rsquo;t shy away from coverage that might have displeased area businesses. A 1913 headline blared, &ldquo;Mine owners are blamed for panic,&rdquo; and several articles between 1908 and 1914 focused on future deforestation due to the flourishing timber industry. However, other stories were clearly directed by management, such as items about where to locate the county courthouse.</p>
<p>The <em>Evening Herald</em> regularly devoted a half page to women&rsquo;s issues, and also reported on women in feature stories. One such item covered the resignation of Clara Cynthia Munson, mayor of Warrenton, Oregon--purportedly the only female mayor in the West. Likewise, when a local woman choked a crazed coyote to death with her bare hands, the event was deemed newsworthy.</p>
<p>The writers occasionally waxed poetic, but rarely revealed bias. Some features were eccentric, such as a story about the odd names of mines. These included She Devil, Crack Brain and The Holy Terror; a pioneer claimed he had named them all for his wife. </p>
<p>There was no editorial page, though &ldquo;letters from the people&rdquo; were included, as were mentions of the week&rsquo;s big social events. The paper also carried a weekly sermon written by local Protestant pastors. </p>
<p>In 1919, Murray became sole owner and editor of the <em>Evening Herald</em>. In the ensuing years, the paper shook up its reserved reputation by hiring a cartoonist, then considered a novel idea in journalism. In 1925, the news editor, a former <em>Portland</em> <em>Oregonian</em> [LCCN: sn83025138] police reporter, morphed into underworld detective when a townsman was murdered while playing cards. The editor drove through the Cascades during a midnight rainstorm to apprehend the suspect in a remote farmhouse. </p>
<p>In early 1927, after years of bitter feuds with the other daily in town, the <em>Klamath News</em> [LCCN: sn99063815], Murray sold the <em>Herald </em>to Bruce Dennis, who later also bought the <em>News</em>. In 1942, the two papers were consolidated due to wartime rationing of newsprint.</p>
<p>-- Written by Isolde Raftery</p>
<p></p>
</div><!-- end id:std_box -->

{% endblock %}
