{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
<div id="std_box">
 <p><em>Lincoln County Leader</em><br/>
 [LCCN: sn85033162]<br/>
Toledo, Lincoln County, Or.<br/>
1893-1987</p>
 <p>John F. Stewart first published the <em>Lincoln County Leader</em> in the coastal town of Toledo, Oregon, in  1893.  Stewart had moved to Toledo from  nearby Woodburn, hoping to start a newspaper that would be free of competition.  Although it lacked the population and  infrastructure of other cities such as Newport, home to a growing tourist  industry, Toledo was an ideal location because it was recently named county  seat and was without any competing papers at the time.  The newspaper&rsquo;s original plant was small,  containing an old &ldquo;army&rdquo; press, which sat on a dry goods box.  The press was slow, printing one page at a  time and requiring handset type on a &quot;kid&quot; typesetter.</p>
 <p>
   While not deeply political, Stewart&rsquo;s paper did support the  Democratic Party and offered a few passing observations on local politics.  A June 1896 article, &ldquo;The Indian Vote,&rdquo;  covered a county election in which inhabitants of the Siletz reservation first  cast votes.  The <em>Leader</em> disabused a rumor that tribal members did not have the right  to vote.  Stewart, who had suggested in  an earlier issue that &ldquo;Indians as a rule voted intelligently,&rdquo; offered a  lengthy excerpt from a court document establishing the legality of their  participation, thus reaffirming his support for the new members of the  electorate. </p>
 <p>
   Stewart retired from the newspaper business when he accepted  a position as county judge in 1898, selling the <em>Leader</em> to Wesley L. Davis.   Shortly after Davis&rsquo; arrival, a Corvallis paper, the <em>Oregon</em> <em>Union</em> [LCCN: sn85042402], remarked that the <em>Leader</em> was evolving &ldquo;from the grub of populism – or silver  democracy – to the bright and lively butterfly of gold standard republicanism,&rdquo;  highlighting the paper&rsquo;s changing political identity under Davis&rsquo; tutelage.  </p>
 <p>
   The <em>Leader </em>was  sold within a year to Robert E. Collins, who maintained ownership for a few  months before selling to Charles and Ada Soule.   The Soules supported the Republican platform and often ran pieces that  criticized William Jennings Bryan.   However, they were not resistant to the idea of critiquing members of  the Republican Party as well.  The Soules  ran an article in 1903 on Senator Thomas Platt of New York, a noted womanizer  who was embroiled in romantic problems at the time and whom the paper  characterized as &ldquo;one of the smoothest politicians of the age… a heart-smasher,  a gay deceiver.&rdquo;   </p>
 <p>
   The <em>Leader </em>returned  to the management of Robert E. Collins in 1907.   He worked on the publication with his partner, Fern Hayden, until 1922  when they sold the<em> Leader</em> to the Hall  brothers, with Willoughby Hall taking over as editor.  Frequent advertisements included Ayer&rsquo;s Hair  Vigor, Prince Albert Tobacco, Y. B. Merchandise Company, and Castoria to list a  few.  Issues also contained fictional  stories such as &ldquo;Out on the Pampas&rdquo; by George Alfred Henty, which ran as a  series for several weeks.  </p>
 <p>
   A few years after Collins departed the <em>Leader</em>, he established a competing paper, the <em>Lincoln County Herald </em>[LCCN: sn2011260123].  In 1927, a stock company purchased both the <em>Leader </em>and the <em>Herald</em>, consolidating them under the original title, <em>Lincoln County</em> <em>Leader, </em>which remained in operation until 1987.</p>
 <p>
   Prepared with reference to: <br />
   Turnbull, George S. <em>History of Oregon Newspapers</em>.  Portland, Oregon: Binfords &amp; Mort, 1939.</p>
 <p>
   -- Written by Daniel Rinn</p>
</div>
<!-- end id:std_box -->

{% endblock %}
