{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Ontario Argus </em><br />
  [LCCN: sn00063520]<br />
Ontario, Oregon <br />
1909-1922</p>
<p>&nbsp;</p>
<p>Journalism in eastern Oregon&rsquo;s Malheur County dates back to 1887. Advocacy for various political parties and causes was the impetus for the founding of most of the early papers in this region. One of these--the <em>Vale</em> <em>District Silver Advocate </em>[LCCN: sn00063532]--was direct precursor to the <em>Ontario Argus</em> [LCCN: sn00063520]. Commencing publication on January 6, 1897, the <em>Advocate</em> was dedicated to advancing&nbsp;the &quot;free silver&quot; monetary movement championed by William Jennings Bryan. Within a few years, the paper had been relocated to Ontario and evolved into a more general Democratic Party organ.<br />
  <br />
  The <em>Advocate</em> was purchased in November of 1900 by Don Carlos Boyd, who changed its title to the <em>Ontario Argus</em> and switched its political affiliation to Republican. Throughout its history, the paper was run as a weekly, with the exception of a period in 1904 when the daily format was briefly adopted. From its inception, the<em> Argus</em> was a tireless cheerleader for the businessmen of Malheur County. The four-page weekly encouraged outsiders to move to Ontario and devoted considerable column space to water rights. </p>
<p>Don Carlos Boyd sold the Argus to William Plughoff in 1908. With Plughoff as editor, the newspaper&rsquo;s motto declared that it lead in prestige, merit and circulation. &ldquo;Watch us grow,&rdquo; it said--this at a time when Ontario could boast 1,600 people, 12 schoolteachers and three million pounds of annual wool shipments. But grow the town did; and the newspaper grew along with it. By 1913, the <em>Argus</em> had expanded to eight pages and started running editorial cartoons on the front page, above the fold. The paper focused on the opinions of various local associations, from Masonic officers to the Fair Association (&ldquo;Don&rsquo;t forget to attend the Malheur County Fair!&rdquo; one headline read.)</p>
<p>In 1916, Plughoff sold the newspaper to George K. Aiken, who was also the mayor of Ontario and member of the State Game Commission. Despite his political allegiance to the community, Aiken had a reputation among his peers in Oregon journalism for writing honest and critical editorials. </p>
<p>A little later in this era, the <em>Ontario <em>Argus</em></em> became an early leader in extending opportunities in the journalism trade to women. A &quot;poet's corner&quot; was established and edited by the publisher's wife, Lulu Piper Aiken. In 1931, the Argus starting running columns by Dottie Crummett Edwards; this was at a time when newspaper features written by women were still very unusual in any part of the country. The paper also took on national advertising clients, such as Camel cigarettes and pesticide companies. By then, the newspaper had softened its tone of being a business booster and started to include more balanced local coverage focusing on quality-of-life issues such as schools and garbage collection.</p>
<p>-- Written by Isolde Raftery</p>
<p></p>
</div><!-- end id:std_box -->

{% endblock %}
