{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The Oregon Union </em><br>
[LCCN: sn96088334] <br>
Corvallis, Benton County, Oregon<br>
1862-1863</p>
<p>&nbsp;</p>
<p>Located in Oregon&rsquo;s central Willamette River Valley – the &ldquo;Eden&rdquo; at the end of the Oregon Trail for thousands of Americans who migrated to the region in the mid-nineteenth century – the City of Corvallis was incorporated in 1857 with a population of nearly 500 people. The capital of Oregon territory for a short time in 1855, Corvallis has one of the longest newspaper histories of any Oregon city.</p>
<p>The<em> Oregon Union </em>evolved from a string of newspaper titles beginning with the <em>Occidental Messenger </em>(LCCN: sn96088331), the first paper to be published in Corvallis aside from the brief tenure of the <em>Oregon Statesman</em> (LCCN: sn83025131) during the state capital relocation in 1855. Started in June 1857 by Joseph Avery, the founder of Corvallis, the <em>Messenger</em> was one of the strongest, if not <em>the</em> strongest, advocates for slavery amongst Oregon newspapers. The <em>Messenger </em>was succeeded by three titles before becoming the <em>Oregon Union </em>in 1862, the last of which was the <em>Oregon Weekly Union </em>(LCCN: sn96088333). Published by John D. Page and edited by Patrick Malone, the <em>Weekly Union </em>continued publishing strong pro-Democratic content before being suspended for much of 1862.</p>
<p>On November 3, 1862, Malone became the sole owner of the <em>Weekly Union</em>. The next issue, printed November 8, lists the title as the<em> Oregon Union, </em>with a tagline under the masthead reading, &ldquo;The Union as it was – The constitution as it is, and the negroes where they are.&rdquo; Malone was well known as a strong southern sympathizer, and was regularly in trouble with the government for pro-secession utterances.</p>
<p>Published every Saturday, the four-paged<em> Oregon Union </em>primarily featured news from the Atlantic states. Local content was sparse, usually included in the form of sale and community notices, death notices, or business advertisements. There was generally an editorial on the second page, often with a rallying political tone. A January 14, 1863 column entitled &ldquo;To Democrats who can Think&rdquo; represents a scathing attitude towards Republican papers in the state, calling for emancipation of the Democratic party in Oregon, wanting it &ldquo;placed beyond the control of any clique of Puritan sneaks with an illiterate, unprincipled and selfish newspaper ruffian at their head.&rdquo;  This, it states, &ldquo;is the mission of the <em>Union</em>—the reason for which it exists. We would deem our life well spent, if at its close that object was accomplished.&rdquo;</p>
<p>The close of the <em>Union </em>came shortly after, with an editorial in the March 29 issue noting an immediate cease in publishing.  The column blamed intentions to re-establish the paper in Portland later that year for the closure, while in fact it was suppressed by the government for increasing pro-secession utterances and never revived. </p>
<br clear="all">
<p>Prepared with reference to:</p>
<p>City of Corvallis. &ldquo;Regional Developments.&rdquo; <em>City of Corvallis, Oregon. </em>Accessed October 7, 2014. <a href="http://www.corvallisoregon.gov/index.aspx?page=1617">http://www.corvallisoregon.gov/index.aspx?page=1617</a></p>
 Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939.
 <p>&nbsp;</p>
<p>- Written by Maia Fiala</p>
</div><!-- end id:std_box -->

{% endblock %}
