{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Oregon Republican </em><br>
[LCCN: sn93051636] <br>
Dallas, Polk County, Oregon<br>
1870-1872 </p>
<p><em>Liberal Republican </em><br>
  [LCCN: sn93051637]  <br>
  Dallas, Polk County, Oregon<br>
  1872-1???</p>
<p>In 1868, newspaperman Jonas H. Upton established the <em>Polk County Signal</em> [LCCN: sn93051616] in the small town of Dallas, Oregon, about 15 miles west of the state&rsquo;s capitol, Salem. At that time, there was only one other newspaper, the <em>Religious Expositor </em>[LCCN: not found]<em>,</em> founded by Charles Hiram Mattoon in 1856. The <em>Expositor</em> eventually moved to Corvallis, closing shortly thereafter. The <em>Signal</em> became the sole news-reporting source in Dallas, existing to the present day. This democratic paper was published every Monday, with a four-page, seven-column spread. It was available for a $3 yearlong subscription.</p>
<p>The <em>Signal </em>would go through many reincarnations as ownership switched hands. In March 1870, Raymond H. Tyson became the owner, changing its name to the <em>Oregon Republican</em> [LCCN: sn93051636], its publishing day to Saturday, and its price to $2 for a yearlong subscription. It had a four-page, six-column spread. Topics were mainly politics, especially bill passage/status and convention news during election time, and neighboring county and state news. The paper had a classifieds section listing items for sale and services wanted. There was also a daily happenings section describing local activities of the townsfolk.</p>
<p>In August 1872, longtime editor Potter Charles Sullivan became sole proprietor of the <em>Oregon Republican</em>,with John J. Daly as its editor. Sullivan changed the paper&rsquo;s name to the <em>Liberal Republican </em>[LCCN: sn93051637]. Its layout, publishing day, and cost stayed the same. However, Sullivan, a deep supporter of then presidential candidate and editor of the <em>New-York Tribune </em>[LCCN: sn83030214], Horace Greeley, aligned much of the content with the ideals of liberal republicanism and Greeley&rsquo;s presidential campaign.</p>
<p>During this time, the <em>Liberal Republican </em>focused on topics similar to those highlighted during Tyson&rsquo;s ownership of the paper. It mainly reported on politics, with weekly sections &ldquo;Town &amp; County News&rdquo; and &ldquo;State Items&rdquo; discussing government happenings, including court rulings, American Indian news, and food prices. As it did during the Tyson period, the paper featured a classifieds section, with advertisements for clothes, animals, and services.</p>
<p>Throughout its existence, the paper would suffer financially and switch hands several more times as a result. With ownership changes came name changes. In December 1872, the paper became the <em>Dallas Itemizer</em> [LCCN: sn84022651] under Ed Casey. In 1879, it became the <em>Polk County Itemizer</em> [LCCN: sn94049693] under George E. Good. In 1924, Earle Richardson purchased the <em>Polk County</em> <em>Itemizer</em> and merged newspapers to create the <em>Polk County Itemizer-Observer </em>[LCCN: sn96088087], which exists today.</p>
<br clear="all">
<p>Prepared with reference to:</p>
<p>Rohde, Susan Hunter, and Debra Meaghers. <em>Dallas</em>. Charleston, South Carolina: Arcadia Publishing, 2012.</p>
Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939
<p>&nbsp;</p>
<p>-- Written by Erin Choi</p>
</div><!-- end id:std_box -->

{% endblock %}
