{% extends 'site_base_alt.html' %}

{% load staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Oregon City Press</em><br />
[LCCN: 2012260084]<br />
Oregon City, Clackamas County,  Oregon<br />
1896-1???</p>
<p>&nbsp;</p>
<p>Oregon City is home to many of Oregon&rsquo;s  milestones.  It was the capital of the  Oregon Territory, the first town to be incorporated west of the Rocky Mountains,  and birthplace of the first newspaper on the West Coast, the <em>Oregon Spectator</em> [LCCN: sn84022662].  Oregon City was, in truth, the end of the  Oregon Trail and marked the beginning of new lives for many people.  By the turn of the 20th century,  the town continued to attract settlers with its growing lumber and paper  industries.  One such newcomer, Maurice  E. Bain, moved to Oregon City to establish the <em>Oregon City Press </em>[LCCN: 2012260084], one of several newspapers  that sprang up during this time of growth for the city.  </p>
<p>Maurice E. Bain, a native of Canada,  immigrated to the United States in 1865 when he was only two years old.  He received very little schooling growing up,  only finishing the second grade.  Lack of  a formal education, however, did little to stop Bain, a &ldquo;bright and  enterprising young man,&rdquo; from cultivating a successful newspaper and mining  career in Oregon.</p>
<p>Bain had worked on several  newspapers in Oregon before launching the <em>Press</em>.  Along with Felix G. Kertson, Bain ran the <em>Medford Mail</em> [LCCN: sn97071085] in the  southern portion of the state.  In 1892,  Bain sold his interest in the publication to Kertson at which point he &ldquo;probably  took the plant of the late <em>Central Point  Enterprise </em>[LCCN: unknown] and started a new paper somewhere farther north  in Oregon.&rdquo;  That &ldquo;new paper farther  north&rdquo; was the <em>Three Sisters</em> [LCCN:  sn96088299], which Bain published and edited out of Barlow, a town just south  of Portland, from 1892 to 1896.  <br />
  <br />
  On March 6, 1896, the <em>Oregon Courier</em> [LCCN: sn00063695] announced  that &ldquo;arrangements are underway for the publishing of another newspaper in  Oregon City and it is to issue the first number the latter part their [sic] month,  and that it will be an independent republican semi-weekly sheet.  [James] M. Lawrence and Maurice E. Bain are  credited with the fraternity of the new enterprise.&rdquo;  In 1896, Bain suspended the <em>Three Sisters</em>, moved shop about ten  miles northeast to Oregon City, and began publishing the <em>Oregon City Press</em>.  The  four-page, twice-weekly paper cost readers $1.50 a year, and by March 22, 1899,  the <em>Press</em> was running as an  eight-page weekly.</p>
<p>In 1898 and 1899, the <em>Press</em> provided heavy coverage of the  Spanish-American War and Cuba&rsquo;s War of Independence.  Page space was mostly devoted to  international and national news items and a regular column, &ldquo;Doings of the Week  – What Has Happened in the Civilized World,&rdquo; was featured on the front  page.  Local items of interest, like  societal news, crop bulletins and legal notices, appeared on the latter pages.</p>
<p>Some of the news stories printed  by Bain appear to be quite enlightened for the time.  One article from February 9, 1898 promoted  women&rsquo;s rights with the atypical proposition that intelligence is a more  important quality than beauty.  The  article encouraged women to &ldquo;cultivate the mind, for a grace of soul and  education of spirit count for more than limpid eyes, a rosebud mouth and a  dimpled chin.&rdquo;  A news item from the November  16, 1898 issue, urged for the protection of game birds and suggested having bag  limits during hunting seasons in order to keep the population healthy.  Another story from the same issue shares an  African-American folk story about Thanksgiving, and compared to other  depictions of African-Americans during this time, the images and story told in  the <em>Oregon City Press</em> are humanizing  and well-intentioned. </p>
<p>Despite Bain&rsquo;s experience and  earnestness in journalism, the <em>Oregon  City Press</em> was a short-lived publication with limited success.  The paper was suspended around the turn of  the century, and Bain relocated to Sumpter, a boom town in eastern Oregon, to  try his hand at mining.  He continued his  newspaper career out east, running the <em>Argus</em> [LCCN: sn00063520] in Ontario, Oregon.  Bain,  who never married, was quite successful in his gold and mineral mining  endeavors and lived in the eastern portion of the state for the next several  decades.</p>
<p>Prepared with reference to: 
  </p>
<p>Ayer, N.W., Ed., <em>N.W. Ayer &amp; Son&rsquo;s American Newspaper  Annual</em>.  Philadelphia, Pennsylvania:  N. W. Ayer &amp; Son, 1896-1900.</p>
<p>
  &ldquo;Brevities,&rdquo; <em>Ashland Tidings</em>, January 29, 1892. </p>
<p>
  &ldquo;Local and General,&rdquo; <em>Southern Oregon Mail</em>, June 17, 1892.</p>
<p>
  Rowell, Geo. P. <em>American  Newspaper Directory</em>. 16th ed., New York: Geo. P. Rowell and Co, 1897-1900.</p>
<p>
  Turnbull, George S. <em>History of  Oregon Newspapers</em>. Portland, Oregon: Binfords &amp; Mort, 1939. </p>
<p>
  United States Census Material,  1880-1940.</p>
<p>&nbsp;</p>
<p>--Written by Emily Vance</p>
<p></p>
</div><!-- end id:std_box -->

{% endblock %}
