{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Roseburg Review</em><br>
[LCCN: sn93051663] <br>
Roseburg, Douglas County, Or. <br> 
1885-1920
</p>
<p>The <em>Roseburg Review, </em>formerly the <em>Douglas Independent </em>[LCCN: sn93051662], appeared in Roseburg, Oregon under the direction of John Richard Newton Bell, a former Confederate soldier.   Like his predecessor, John Kelley of the <em>Independent</em>, Bell was a Democrat and employed the paper as a vehicle for Democratic policies and opinions.  He admitted that the paper would be &ldquo;conservatively democratic&rdquo; and clearly identified with Jeffersonians, writing, &ldquo;our system of government was conceived in the brain and nourished in the heart of Jefferson.&rdquo;  <br>
    <br>
  The <em>Review </em>was marked by an element of boosterism.  Not so subtle at times, it described Roseburg as &ldquo;A land of Prosperity, Sunshine and Roses.&rdquo;  The paper suggested the city provided the benefits of urban life in addition to outdoor recreation, perfect temperatures, and fertile valleys.  &ldquo;Local Brevities&rdquo; offered announcements from businesses and other random remarks, such as &ldquo;Yesterday felt like spring.&rdquo;  Advertising for local businesses included dentists, lawyers, and mills, which appeared alongside larger name-brands such as Ayers. </p>
<p>Although boosterism left a mark in these columns, the <em>Roseburg Review</em> focused on politics.  In reference to the Bland-Allison Act of 1878, which directed the U.S. Treasury to buy and circulate silver as currency, the paper argued that the government was &ldquo;hoarding&rdquo; silver, not making it accessible to the public.  The <em>Review </em>aligned with the Free Silver movement, flatly stating, &ldquo;This hoarding of the coin in the treasury vaults is not only in violation of the spirit and letter of the law [the Bland-Allison Act], but violates all rules of political economy… Such a policy would prove ruinous to individuals, likewise to a nation.&rdquo; </p>
<p>Moving into the realm of political theory, one article linked Republicans to Alexander Hamilton&rsquo;s political philosophy.  Suggesting that Hamilton was a &ldquo;semi-monarchist&rdquo; who was &ldquo;afraid to trust the people,&rdquo; the <em>Review </em>alluded to his endorsement of a strong central government in which the president and senators would hold lifetime appointments.  Believing that Hamiltonian ideas held sway during Reconstruction, motivating Republican legislation during that period, the paper argued that Hamilton&rsquo;s theory was becoming outdated.  As a result, the<em> Review </em>speculated that the Republican Party could not &ldquo;survive the sectional issues and animosities of a rapidly dying past.  Its theories are un-American and were so declared at the very formation of the government.&rdquo; </p>
<p>Bridging local and national news, the paper related Republican support of integrated education to the coeducation of Chinese and white children in Oregon.  The <em>Review</em> suggested, &ldquo;[E]qually divide the population of the state of Oregon into two different races, and then see if the best interests of both races would not be conserved by keeping them separate in our public school and preserving both races in the purity of an unmixed blood.&rdquo; </p>
The papermaintained a Democratic identity throughout its history, but it was subject to the mergers and buyouts common in the business.  The <em>Review</em> bought the <em>Umpqua Valley News </em>[LCCN: sn2010260129] and later merged with the <em>Evening News </em>[LCCN: sn2003260223] forming the <em>Roseburg News-Review </em>[LCCN: sn2003260227] in 1920.
<p>  </p>
<br clear="all">
<p>Prepared with reference to:</p>
<p> Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939. </p>
<p>&nbsp;</p>
<p>-- Written by Daniel Rinn</p>
</div><!-- end id:std_box -->

{% endblock %}
