{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Smoke Signals</em><br/>
  [LCCN: sn93050714]<br/> 
  Grand Ronde, Or.<br/>
  1978-current  </p>
   <p>The Confederated Tribes of Grand Ronde have been publishing a Tribal newspaper, <em>Smoke Signals</em>, since at least early 1978. At its beginning, <em>Smoke Signals</em> was a single or multiple sheet informational newsletter that was mailed to tribal members to help communications in organizing around the restoration of the tribe.  Former General Manager and tribal member Greg Archuleta is responsible for establishing and producing the newsletter.  After restoration in 1983, <em>Smoke Signals</em> became a 10-page mimeographed monthly newspaper reproduced on letter-sized paper and distributed to the Tribal membership. It remained in that format until April 1987, when it first appeared in a tabloid format printed on traditional newsprint.</p>
   <p>On February 1, 1995, <em>Smoke Signals</em> changed from being a monthly publication to being published twice a month, approximately on the first and 15th of each month. The twice-monthly publication schedule continues to this day. Color photos started appearing in <em>Smoke Signals</em> in mid-1996.</p>
   <p><em>Smoke Signals</em> became part of the Tribe&rsquo;s Public Affairs Department in 2005. During its lifetime and through numerous staff changes, <em>Smoke Signals</em> has won many journalism awards from the Native American Journalists Association and Oregon Newspaper Publishers Association.</p>
   <p>Staff members have included Tribal members Tracy Dugan, Brent Merrill, Justin Phillips and current Tribal Council members Chris Mercier and Toby McClary, a former <em>Smoke Signals</em> photographer.</p>
   <p><em>Smoke Signals</em> staff members also are responsible for producing the Tribe&rsquo;s Annual Report, calendar and Resource Directory, as well as supervising new media endeavors, such as the Tribal Reader Board and social media outlets on Twitter and Facebook.</p>
    
    -- Essay provided by the Confederated Tribes of Grand Ronde; Grand Ronde, Oregon
</div><!-- end id:std_box -->

{% endblock %}
