{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Spray Courier</em><br>
[LCCN: sn97071004] <br>
Spray, Wheeler County, Or <br>
1???-19?? </p>
<p>The<em> Spray Courier</em>, established in Spray, Oregon, was Wheeler County&rsquo;s first Republican newspaper.  It is unclear when the first edition appeared, but the earliest known editor is David Baxter, who headed publication in 1902.  Born in Salem, Baxter had deep roots in Oregon, having taught in Richmond, Waterman, and Spray schools.  Like many residents of Spray, he also generated an income raising sheep.  Baxter eventually established a general merchandise store with partner Walter Burner, who would later pick up publication of the <em>Courier</em>.  Other owners and editors would cycle through the paper&rsquo;s staff, with Russell D. Price serving as the final publisher.  Price had published into the 1920s, giving up the enterprise to herd sheep. </p>
<p>The <em>Courier</em> often interjected in local politics by supporting Republicans such as Oscar Kelsay, who ran for Sheriff in 1908.  Maintaining its political identity, the paper later announced, &ldquo;Republicanism is not a person, but a program.  It is a body of faith… a chain of thought and sentiment stronger than any one link in it.&rdquo; </p>
<p>Evoking the image of the idyllic, small-town paper, the <em>Courier </em>kept a finger close to the local pulse.  &ldquo;Briefs&rdquo; would announce the activities of Spray residents or offer short opinions about local affairs.  One described a rafting adventure by Burner and Tom Smith.  Another opined on spiritual life, offering, &ldquo;Quite a number of our people are becoming interested in religion and are starting to live a better life.&rdquo; </p>
<p>In &ldquo;Forest Notes,&rdquo; a section devoted to Forest Service developments, an article provided instructions for killing coyotes with &ldquo;Suredeath poison capsules&rdquo; [<em>sic</em>].  The Forest Service had exterminated 32 coyotes in the John Day area the previous year.  The animals were reported to have carried rabies. </p>
<p>Moving to regional and national news, an article titled &ldquo;Chinese Versus Japanese,&rdquo; covered proposed Canadian legislation that aimed to restrict the immigration of Japanese people to British Columbia.  By abolishing the head tax on Chinese immigrants, it was hoped that increasing numbers of Chinese immigrant workers would lower wages, thus removing the incentive for Japanese people to immigrate to North America.  </p>
<p>During World War I, the <em>Courier </em>ran an editorial titled &ldquo;High Cost of Living,&rdquo; criticizing the United States for shipping grain abroad to support its allies, a practice that made foodstuffs expensive at home.  Illustrating the sentiment of many Americans at the outset of the war, the article asked, &ldquo;Why should this Government drain its food supply to maintain the waring [<em>sic</em>] nations of Europe in their mad attempt to destroy each other?&rdquo;  The publishers of the <em>Courier </em>felt no desire to &ldquo;satisfy the unholy ambition of kings.&rdquo;  </p>
The paper also included advertisements for products and services including Condon National Bank, Portland Barber College, and Hood&rsquo;s Sarsaparilla to name a few.  In fact, the name of David Baxter continued to appear in the <em>Courier</em>&rsquo;s pages long after he left his post as publisher, advertising as a commissioner, notary, and shopkeeper for many years.
<p>  </p>
<br clear="all">
<p>Prepared with reference to:</p>
<p> Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939. </p>
<p>&nbsp;</p>
<p>- Written by Daniel Rinn</p>
</div><!-- end id:std_box -->

{% endblock %}
