{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>The Columbian</em><br />
[LCCN: sn93051654]<br />
St. Helens, Columbia County, Oregon<br />
1880-1886 </p>
<p>Debuting on August 13, 1880, the <em>Columbian </em>[LCCN: sn93051654] was the  first paper of Columbia County.  Printed from  the home of its editor and proprietor, Major Enoch George Adams, the  publication featured family-friendly news items of general interest but Adams&rsquo;  &ldquo;eccentric nature&rdquo; bled into his work and the paper would cover bizarre stories  and curiosities from around the world in its later days.</p>
<p>Enoch Adams was born in New  Hampshire to a preacher known as &ldquo;Reformation John&rdquo; and Sarah Adams in 1829.  He graduated from Yale and would go on to  serve in the Union Army from 1861-1864.  Eventually  earning the rank of Major, Adams fought in the Indian Wars in the Midwest before  finally settling in the Pacific Northwest.</p>
<p>Adams had a long history with writing  and printing before beginning the <em>Columbian</em>.  He was an avid poet, publishing several poems  during his time in the Union Army.  In  1865, when stationed at Fort Rice in what is now North Dakota, Adams published  a weekly post newspaper, the <em>Frontier  Scout </em>[LCCN: sn84022132], in order to &ldquo;boost morale&rdquo; of the men stationed  there.  When his service was over, Adams moved  to Vancouver, Washington, where he was the editor and publisher of the <em>Vancouver Register</em> [LCCN: sn86072039] from  October 1868 to at least October 1870.</p>
<p>After settling in St. Helens,  Adams continued his publishing career with the creation of the <em>Columbian</em>.  The paper typically began with a poem and frequently  featured Adams&rsquo; poetry.  Printing from  his home overlooking Frogmore slough, Adams had complete creative control and  the paper certainly reflected the character of its publisher.  As was written in the <em>Morning Oregonian </em>[LCCN: sn83025138]on November 23, 1900, the <em>Columbian</em> was &ldquo;little more than a record, written with child-like simplicity and amusing  attention to detail, of family and community life – a clean, harmless and  withal an amusing sheet.&rdquo;  </p>
<p>The four-page, six-column folio  typically featured general news items, whimsical quips, local gossip and humorous,  anecdotal stories from around the nation on the front page.  The second page was slightly more serious in  content and featured local news, events and a regular column entitled &ldquo;Our  Washington Letter,&rdquo; which reported on proceedings in the nation&rsquo;s capital.  A brief column called &ldquo;the World of  Agriculture&rdquo; was occasionally printed.   The remaining two pages were devoted to advertisements, poems and short  humorous writings. The <em>Columbian</em> was  printed every Friday and increased to seven columns on April 13, 1883.  Small illustrations and cartoons were added  in the later years, but the subscription price never deviated from $2.00 a year  during the paper&rsquo;s six years in publication.  </p>
<p>When serving in the Civil War,  Adams was severely injured during the Battle of Williamsburg.  This intense and violent episode led to a  weakened nervous system, which only worsened throughout his life.  As a result, Adams would unfortunately suffer  frequent spasms and would be described as having a &ldquo;fiery disposition;&rdquo; he was  considered by most to be a very unusual and &ldquo;remarkable character.&rdquo;</p>
<p>His temperament and opinions,  &ldquo;which were considerably out of the usual trend,&rdquo; were very evident in the  material he printed in the <em>Columbian </em>in  its later years.  Just a few of the more  noteworthy topics covered by his newspaper include: lion tamers, petrified  wood, dwarfism, human hair, injured oysters, the moon, volcanos, the history of  carpet, the city of Pompeii and a particularly grizzly story about a wolf  eating a man&rsquo;s head.  Although the paper  had a small circulation, these unusual stories &ldquo;afforded a great deal of  entertainment&rdquo; to its subscribers.</p>
<p>On September 10, 1885, the paper  began publishing every Thursday; Enoch Adams was still the editor and Dr. Arthur  Branscombe Adams, Enoch&rsquo;s nephew, was hired on as the associate editor and  business manager.  This was probably due  to Enoch Adams&rsquo; failing health, as the paper was suspended the following year,  at which point Enoch returned to the east coast.  He purchased a farm in Maine where he lived  the remainder of his days writing poetry and editing his father&rsquo;s journals. </p>
<p>Enoch Adams&rsquo; obituary, published  on November 22 and 23, 1900 in the <em>Morning  Oregonian</em>, stated that Adams, who had served his country well and in his  prime, was &ldquo;regarded with interest by his acquaintances…His most charming  faculty was that of making his readers wonder what he was going to say next.&rdquo; </p>
<p align="center">But  When o&rsquo;er sins and follies past<br />
  We  Weep and penitently pray,<br />
  O  then in Heaven is unsurpassed<br />
  The  rapture of that day.<br />
  An  Angel comes – all light – all love –<br />
  To  catch the penitential gem,<br />
  And  bear it to the realms above<br />
  To  grace God&rsquo;s diadem.</p>
<p align="center">-- Enoch Adams, &quot;The Preciousness of Tears&quot;</p>
<p>Prepared with reference to: </p>
<p>Chapin, Bela, ed.  <em>The Poets of New Hampshire</em>.  Claremont, New Hampshire: Charles H. Adams,  1883.</p>
<p>Erikmoen, Curt. &ldquo;Fort Rice Soldier Edited Paper, Wrote  Poetry,&rdquo; <em>Bismarck (North Dakota) Tribune</em>, March 6, 2011.</p>
<p>Historic Newspapers in Washington Project, <em>Vancouver Register </em>(1865-1869), Historic  Washington Newspapers online directory.</p>
<p>McMurtrie, Douglas. &ldquo;Supplemental – Washington  Newspapers, 1852-1890 Inclusive, a Supplement to Professor Meany&rsquo;s List.&rdquo; The  Washington Historical Quarterly 26, no. 2 (April, 1935): 129-143.</p>
<p>Milne Special Collections. &ldquo;Adams Family, Papers,  1731-1964.&rdquo; University of New Hampshire Library. </p>
<p>&ldquo;Mist Published as Early as 1881,&rdquo; <em>St. Helens (Oregon)  Sentinel-Mist</em>, Friday, February 28, 1936.</p>
<p>Rowell, Geo. P. <em>American Newspaper Directory</em>. 16th  ed. New York: Geo. P. Rowell and Co, 1884.</p>
<p>Turnbull, George S. <em>History of Oregon Newspapers</em>.  Portland, Oregon: Binfords &amp; Mort, 1939. </p>
<p>&nbsp;</p>
<p>--Written by Emily Vance</p>
 </div><!-- end id:std_box -->

{% endblock %}
