{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
<div id="std_box">
 <p><em>The Daily Mountaineer</em><br/>
  [LCCN: sn89055266]<br/>
The Dalles, Or.<br/>
1861-1866</p>
 <em>The Dalles Times-Mountaineer</em><br/>
  [LCCN: sn93051669]<br/>
The Dalles, Or.<br/>
1882-1904</p>
 <p>The first newspaper  to appear in Eastern Oregon was <em>The</em> <em>Dalles Journal </em>[LCCN: sn85042406], published  in April 1859 by Captain Thomas Jordan in The Dalles.  In April of the following year, he sold the  publication to William H. Newell who changed its name to <em>The</em> <em>Dalles Weekly</em> <em>Mountaineer </em>[LCCN: sn83025135]<em>. </em>Newell ran the paper for five years, the  last three of which it was published as a morning daily entitled the <em>Daily</em> <em>Mountaineer. </em>In November 1865, he left The Dalles to publish the <em>Walla</em> <em>Walla</em> <em>Statesman </em>[LCCN:  sn86072040] in Washington Territory, and the daily changed hands to Eugene Crowne  and Joseph Halloran, who returned the paper to its weekly status a year later.</p>
 <p>
   In 1867,  ownership transferred to William Hand, who continued working as the sole proprietor  until his death at age 47 in September 1881.   The new owner, Colonel Thomas Stackpole Lang, sold the paper about a  year later. By 1882 the <em>Mountaineer</em> found a more permanent owner, John Michell, who would have a hand in the  enterprise for 13 years.  Michell had  collaborated with Robert J. Marsh on an earlier project, the <em>Weekly</em> <em>Times </em>[LCCN: sn93051668], which ran in The Dalles between 1880 and  1882.  He bought Marsh&rsquo;s interests in the  publishing company shortly before consolidating the two papers into <em>The Dalles</em> <em>Times</em>-<em>Mountaineer</em>.  </p>
 <p>
   Under  Michell, a Civil War veteran noted for being &ldquo;a fearless and able writer,  always possessing the courage of his conviction,&rdquo; the newspaper&rsquo;s Republican undertones  became more pronounced.  He had studied  law at the University of Michigan, but he always had an interest in journalism  and politics.  As a result, the <em>Times-Mountaineer</em> quickly became one of Oregon&rsquo;s  leading partisan newspapers, consistently printing articles that defamed Democratic  papers such as the <em>Albany</em> <em>State</em> <em>Rights</em> <em>Democrat</em> [LCCN:  sn84022644].  Although a staunch  Republican, Michell criticized bossism and clique rule in the party. </p>
 <p> 
   As a  periodical that originated in the Civil War era, the <em>Times-Mountaineer</em> provides a snapshot of how Oregonians perceived  the war and its aftermath.  However, the  paper covered a broad range of additional topics.  One article from July 1879 offered a critical  analysis of American eating habits, suggesting that &ldquo;food crammed into the  stomach during business hours&rdquo; and overeating resulted in disease. Sensational  topics are exemplified by an account of a train collision in the Blue Mountains  that caused the death of a fireman in August 1889.  Advertisements included the services of local  attorneys and doctors, digestive aids such as Castoria, restaurants, furniture  stores, and cosmetics, to name a few.  </p>
 <p>
   In 1895,  Michell sold the newspaper as he became more engaged in local politics, and he  was elected state senator in 1896.  John  Douthit, the final publisher of the <em>Times</em>-<em>Mountaineer</em>, had difficulty managing the  weekly.  He attempted to revamp the  paper&rsquo;s image by running &ldquo;Souvenir&rdquo; and &ldquo;Illustrated&rdquo; editions as well as a &ldquo;Woman&rsquo;s&rdquo;  edition, edited by leading women in the community. By 1904 he decided to end publication  of the <em>Times</em>-<em>Mountaineer</em> due to falling profits.</p>
 <p>
Prepared  with reference to:
 <p>Turnbull, George S. <em>History of Oregon Newspapers</em>.  Portland, Oregon: Binfords &amp; Mort, 1939.   
 <p>-- Written  by Daniel Rinn 
</div>
<!-- end id:std_box -->

{% endblock %}
