{% extends 'site_base_alt.html' %}

{% load static from staticfiles %}

{% block content %}
 <div id="std_box">
<p><em>Oregon Union </em><br>
  [LCCN: sn85042402]<br>
  Corvallis, Benton County, Oregon<br>
1897-1899</p>
<p><em>The Union Gazette </em><br>
  [LCCN: sn93051659]<br>
Corvallis, Benton County, Oregon<br>
1899-1900</p>
<p><em>Corvallis Gazette</em><br>
  [LCCN: 93051660]<br>
Corvallis, Benton County, Oregon<br>
1900-1909</p>
<p>&nbsp;</p>
<p>Launched by John D. Daly in 1897, the Corvallis<em> Oregon Union </em>went through a handful of mergers and title changes during its 12-year tenure. </p>
<p>A New York native and staunch Republican, Daly came to the West by way of California in 1864, first settling in San Francisco and then in Stockton, where he was engaged in successful business ventures. Arriving in Oregon in 1878, Daly first settled in the Yaquina Bay area, where he reportedly got his start in the newspaper industry as an editor and publisher, before moving to Corvallis.   </p>
<p>Following the Republican ideals of its founder, the <em>Union</em>&rsquo;s tagline read &ldquo;TARIFF FOR REVENUE, INCIDENTAL PROTECTION AND SOUND MONEY.&rdquo; Published every Friday, the four-page, seven-column folio included current news at the local, national, and world levels, as well as local social pieces, agricultural news, business and service advertisements, and occasional editorial commentary. At its inception, an annual subscription cost $1.00 per year.</p>
<p>In 1899, the <em>Union</em> merged with the <em>Corvallis Gazette </em>[LCCN: sn84022650] to form the <em>Union Gazette. </em>Though the <em>Corvallis Gazette </em>was one of the oldest papers in the state (established in 1862 as a staunch Republican, pro-Lincoln newspaper), its proprietors succumbed to the young <em>Union </em>in the merger<em>. </em>An editorial in the first issue of the new paper explained that the proprietors of the <em>Corvallis Gazette </em>were retiring from the field in order to provide better service to the party and public through a consolidation of interests, &ldquo;leaving the younger and more vigorous Union to carry on the contest, re-enforced by the Gazette&rsquo;s support.&rdquo;</p>
<p>The first issue of the <em>Union Gazette</em>, published Friday, February 17, 1899, reached its subscribers &ldquo;as the sole representative of republic principles in Benton County.&rdquo; The former Oregon Union Publishing Company initially managed the paper, though Daly and George Paul were listed by name as editors and publishers in subsequent issues. By this time, Daly was busy serving Republican interests outside of his newspaper endeavors, representing Lincoln and Benton Counties in the legislature and serving two terms as a state senator, and later as Surveyor-General of Oregon before his death in 1907.</p>
<p>Despite its early vigor, the <em>Union</em> was short lived, with the paper reverting to its original title of the <em>Corvallis Gazette </em>[LCCN: 93051660] in April 1900. Under the Gazette Publishing Company, the paper became a semi-weekly publication, appearing on Tuesday and Friday mornings. The Tuesday edition was initially more of a special interest issue appealing to women and children; the front page of the first issue included a dramatic love story of a sailor and passenger on a steamer across the Indian Ocean and offered instructions for children to create hand shadow puppets. The paper continued publication as the <em>Corvallis Gazette </em>until May 1909, when it again changed hands and transitioned to the short-lived <em>Corvallis Weekly Gazette </em>[LCCN: sn96088338] under Charles L. Springer.
<br clear="all">
</p>
<p>Prepared with reference to:</p>
<p>&ldquo;Daly May Have Been Murdered: Surveyor-General Found Dead.&rdquo; <em>Morning Oregonian</em>, October 5, 1907.</p>
<p>&ldquo;The Oregon Legislature.&rdquo; <em>Oregon Teachers Monthly: A Journal Devoted to the Educational Interests of the Northwest </em>7 (1903): 4.</p>
<p>Turnbull, George S. <em>History of Oregon Newspapers.</em> Portland, Oregon: Binfords &amp; Mort, 1939.</p>
<p>&nbsp;</p>
<p>- Written by Maia Fiala</p>
</div><!-- end id:std_box -->

{% endblock %}
